
.my_ghcontentleft {
    box-shadow: 1px 1px 4px rgba(0,0,0,0.26);
}
/*所属工会*/
 .shu-union{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
	display: block;
	overflow: hidden;
}
.shu-unionnei{
	width: 500px;
	height: 400px;
	background: #fff;
	margin: 130px auto;
	border-radius: 5px;
}
 .union-title, .unit-title{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	color: #999;
}
.union-title p {
	float: left;
	width: 20%;
}
#sousuo,#sercer{
	float: left;
	width: 44%;
	height: 35px;
	border: none;
	outline: none;
	border-radius: 5px;
	background-color: #ccc;
	margin-right: 20px;
	padding-left: 15px;
	margin-left: 15px;
}

.content-small-title button{
	display: block;
	width: 60px;
	height: 35px;
	background: red;
	color: #fff;
	border: none;
	border-radius: 6px;
}
 .union-content{
	 width: 100%;
	 height: 85%;
 }
 .content-small-title{
	width: 100%;
	height: 35px;
	margin-top: 10px;

 }
.content-small-title .p{
	float: left;
	width: 30%;
	height: 35px;
	line-height: 35px;
	border-radius: 6px;
	background-color: red;
	color: white;
	padding-left: 20px;
	margin-left: 20px;
	border: none;

}
.union-content ul li{
	width: 45%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	float: left;
	cursor: pointer;
	border-radius: 6px;
	font-size: 17px;
	font-weight: bold;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.union-content ul li:hover{
	background-color: #999;
	color: white;
}
/*所属单位*/
.sq_content .shu-unit{
	border: 1px solid #ccc;
	width: 550px;
	height: 300px;
	margin-left: 196px;
}





.zg_box{
	width:100%;
	background: url(../images/banner1.png) top center no-repeat;
}

.nav_left{
	float: left;
}
.nav_center{
	float: left;
}
.nav_righter{
	float: right;
}
.nav_righter i{
	font-size: 20px;
}
.nav_righter a{
	font-size: 14px;
}







.rh_text{margin-bottom: 50px;margin-left: 30px}
.rh_text h4{
	font-size: 28px;
	color: #404040;
	text-align: center;
	font-weight: bold;
}
.rh_text span{
	display: block;
	font-size: 16px;
	color: #404040;
	font-weight: bold;
	margin-top: 20px;
}
.rh_text p{
	font-size: 14px;
	color: #404040;
	line-height: 36px;
	text-indent: 16px;
}



.sp_title h4{
	font-size: 28px;
	color: #404040;
	text-align: center;
	font-weight: bold;
}
.sp_list{
	margin:60px 0 80px 0;
}
.sp_list ul li{
	float: left;
	width: 100px;
	margin: 0 10px;
}
.sp_list ul li.active i{color: #fff;background: #db2c28;}
.sp_list ul li.next.active p{color: #db2c28;}
.sp_list ul li a{text-decoration: none;}
.sp_tubiao i{
	font-size: 70px;
	color: #e5e2e2;
}
.sp_img{text-align: center;}
.sp_img i{
	display: block;
	font-size: 25px;
	color: #a6a6a6;
	text-align: center;
	background: #e5e2e2;
	border-radius: 50%;
	padding: 30px;
}
.sp_text p{
	text-align: center;
	font-size: 16px;
	color: #333333;
	width: 170px;
	margin-top: 15px;
	margin-left: -30px;
}
.sq{
	margin-top: 20px;
	text-align: center;
}
.sq_list h4{
	font-size: 28px;
	color: #404040;
	text-align: center;
	font-weight: bold;
}

.nav.nav-pills>li.active>a{
    background-color: #fff;
	color:#db2c28;
}
.nav.nav-pills>li>a,
.nav.nav-tabs>li>a{
	color:#000;
}
.nav-tabs>li{
	margin-bottom: -2px;
}
.nav.nav-tabs>li>a{
	font-size: 16px
}
.nav-pills .active{
	border-bottom: 3px solid #db2c28;
}
.nav.nav-tabs>li.active>a{
	color:#db2c28;
	border: 2px solid #db2c28;
	border-bottom:2px solid #fff;
}
.zg_bottom_link li{
	display: inline-block;
	list-style-type: none;
	padding:0 3px;
}
.zg_bottom_link li a{
	color:#000;
}
.zg_fg{
	vertical-align: text-bottom;
}
.copy_img{
	margin-top: 10px;
}
