#container {
    height: 100%;
    width: 100%;
}

.amap-icon img {
    width: 25px;
    height: 34px;
}

#keywords {
    float: left;
}

#outer-box {
    height: 100%;
    padding-right: 300px;
}

#container {
    height: 100%;
    width: 100%;
}

#panel {
    overflow-x: hidden;
    height: 556px;
    width: 338px;
    z-index: 999;
    border-left: 1px solid #eaeaea;
    background: #fff;
}

#btnList {
    position: absolute;
    right: 300px;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 999;
}

#btnList li {
    padding: 5px;
}

#btnList input {
    padding: 3px 10px;
    min-width: 120px;
}

li.poibox {
    min-height: 150px;
    border-bottom: 1px solid #eaeaea;
    border-left: 2px solid rgba(0, 0, 0, 0);
    padding: 10px 3px;
    cursor: pointer;
}

li.poibox.selected {
    border-left-color: #f00;
    background: #f6f6f6;
}

li.poibox:hover {
    background: #f6f6f6;
}

li.poibox:last-child {
    border-bottom: none;
}

h3.poi-title {
    margin: 3px 0;
    font-size: 13px;
}

.poibox .poi-info-left {
    padding-left: 8px
}

.poi-addr {
    margin: 7px 0 0;
}

.poibox .poi-imgbox {
    width: 100px;
    height: 74px;
    vertical-align: top;
    float: right;
    margin: 0 8px;
    overflow: hidden
}

.poibox .poi-img {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
}
.hall span{
    transition: 0.5s;
}
.zg_ul{
    position: relative;
}
.zhe{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.7);
    text-align: center;
    line-height: 260px;
    color: #fff;
    font-size: 36px;
}
.gh-fw{
    margin:15px;
    background-color: #e6e6e6;
}
.zg_ul_yi{
    float: left;
}
.zg_ul_yi p{
    font-size: 26px;
    margin:0 ;
}
.zg_ul_yi p a{
    color: #fff;
}
.zg_ul_yi p.zgzj{
    font-size: 14px;
}
.zg_ul_yi i{
    display:block;
    width: 115px;
    height: 2px;
    background-color: #ffffff;
    margin: 13px auto;
}
.rh{
    margin-left: 10px;
}
.rh a,.zh a,.jh a,.bl a{
    color: #000;
}
.rh span,.zh span,.jh span,.bl span{
    display:inline-block;
    width:140px;
    height:140px;
    border-radius:50%;
    margin:39px 45px 23px;
}
.rh p,.zh p,.jh p,.bl p{
    font-size: 20px;
    margin:0;
    text-align:center;
}
.zg_ul_er{
    float: left;
}
.zg_ul_er p{
    font-size: 26px;
    margin:0;
}
.zg_ul_er p a{
    color: #fff;
}
.zg_ul_er i{
    display:block;
    width: 115px;
    height: 2px;
    background-color: #ffffff;
    margin: 13px auto;
}
.zg_ul_er p.zgzj{
    font-size: 14px;
}
.gw span,.yl span,.hz span,.bf span{
    display:inline-block;
    width:113px;
    height:113px;
    border-radius:50%;
    margin:30px 60px 20px;
}
.gw p,.yl p,.hz p,.bf p{
    line-height: 17px;
    color: #333333;
    text-align: center;
    font-size: 16px;
    margin: 0;
}
.zg_ul_san{
    float: left;
}
.zg_ul_san p{
    font-size: 26px;
    margin:0;
}
.zg_ul_san p a{
    color: #fff;
}
.zg_ul_san i{
    display:block;
    width: 115px;
    height: 2px;
    background-color: #ffffff;
    margin: 13px auto;
}
.zg_ul_san p.zgzj{
    font-size: 14px;
}
.zn span,.fx span,.fw span,.yz span{
    display:inline-block;
    width:113px;
    height:113px;
    border-radius:50%;
    margin:30px 60px 20px;
}
.zn p,.fx p,.fw p,.yz p{
    line-height: 17px;
    color: #333333;
    text-align: center;
    font-size: 16px;
    margin: 0;
}
.zg_ul_si{
    float: left;
}
.zg_ul_si p{
    font-size: 26px;
    margin:0;
}
.zg_ul_si p a{
    color: #fff;
}
.zg_ul_si i{
    display:block;
    width: 115px;
    height: 2px;
    background-color: #ffffff;
    margin: 13px auto;
}
.zg_ul_si p.zgzj{
    font-size: 14px;
}
.ng span,.ph span,.nm span,.xx span{
    display:inline-block;
    width:113px;
    height:113px;
    border-radius:50%;
    margin:30px 60px 20px;
}
.ng p,.ph p,.nm p,.xx p{
    font-size: 16px;
    margin:0;
    text-align:center;
    color: #333333;
}
.gh-map{
    margin:30px 0;
}
.gh-map ul li{
    border-bottom: solid #db2c28;
    margin-bottom:-3px;
}
.gh-map ul li p{
    color: #db2c28;
    font-weight:bold;
    font-size:20px;
}
.gh-map ul li span{
    font-size: 28px;
}
.map-pic{
    width:340px;
    min-height: 700px;
    float:left;
    border:solid 1px #ccc;
}
.map-pic ul li{
    width:100%;
}
.map-pic button{
    color: #db2c28;
    font-weight: bold;
    background: none;
    border: none;
    /*float: right;*/
    padding: 10px 15px;

}
