<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阳泉市总工会</title>
	<link rel="icon" href="images/picture.png" type="image/x-icon"/>
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/iconfont.css">
	<!--全局样式-->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/grrh.css">

	<style>
		@media (min-width: 768px) {
			.modal-dialog {
				margin: 100px auto !important;
			}
		}
		.xinxi_bg{
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.7);
		}
		#union-name,#Nametwo{
			width: 94%;
			margin: 0 auto;
			margin-top: 10px;
		}
        .more{
        	color: red;
        	text-align: center;
        	margin-top: 10px;
        	cursor: pointer;
        }
        .tab-togg{
        	min-height: 360px;
        }
		.liuChengPic{
			width: 100%;
		}
		.wq_box{
			font-size: 26px;
			text-align: center;
			margin-top: 180px;
			color: #db2c28;
		}
	</style>
</head>
<body >
<div id="nameselect" v-cloak>

	<div class="zg_box">
		<div class="zg_info">
			<div class="zg_top">
				<div class="nav_left">
					<a href="index"><img src="images/logo.png"></a>
				</div>
				<div class="tubiao">
					<p>{{nowTime}}</p>
					<p>{{nowDay}}</p>
				</div>
				<div class="nav_center clearfix">
					<div class="tianqi">
						<iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
								src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
					</div>
				</div>
				<div class="nav_righter" onclick="window.open('index.html','_self')">
					<i class="icon iconfont icon--fanhuishouye"></i>
					<a href="javascript:;">返回首页</a>
				</div>
			</div>
			<div class="my_gh">
				<div class="my_ghtitle clearfix">
					<div class="my_ghtitleleft">
						<i class="icon iconfont icon-shouye"></i>
						<a href="index.html">当前位置：首页></a>
						<a href="zg_index.html">服务大厅></a>
						<span>{{inPosition}}</span>
					</div>
					<div class="my_ghtitleright">
						<a href="zg_index.html"><返回服务大厅</a>
					</div>
				</div>
				<div class="my_ghcontent clearfix">
					<div class="my_ghcontentleft">
						<div class="rh_title">
							<h4>个人入会</h4>
						</div>
						<div class="rh_list">
							<ul>
								<li class="work-guide" @click="changePosition1()">
									<p class="bordred">办理指南</p>
									<i class="icon iconfont icon-jiaobiao" style="color: rgb(219, 44, 40);"></i>
								</li>
								<li class="work-query" @click="changePosition2()">
									<p>办理流程</p>
									<i class="icon iconfont icon-jiaobiao"></i>
								</li>

								<li class="work-online" @click="wq_tijiao">
									<p>在线办理</p>
									<i class="icon iconfont icon-jiaobiao"></i>
								</li>
								<li class="work-process" @click="getStore()">
									<p>进度查询</p>
									<i class="icon iconfont icon-jiaobiao"></i>
								</li>

							</ul>
						</div>
					</div>

					<div class="clearfix toggWrap">
						<!--办理指南-->
						<div class="my_ghcontentright tab-togg on">
							<div class="rh_text">
								<h4>我的入会</h4>
								<span>入会办理：</span>
								<p>1、如在已建立工会的企业工作,可向企业工会组织申请加入而成为工会会员。</p>
								<p>2、如所在企业未建立工会组织，请按个人入会完善相应信息申请，我们将及时与您取得联系。</p>
							</div>
							<div class="rh_text">
								<span>加入工会的好处：</span>
								<p>1、当您的劳动权益如工资、福利、社会保险等权益受到侵害时，工会帮您解决。</p>
								<p>2、当您的合法权益受到侵害诉诸法律时，工会将提供法律帮助。</p>
								<p>3、当您的个人和家庭遇到特殊困难时，您告诉工会，工会给您送去温暖，提供帮助。</p>
								<p>4、当您的子女因为家庭贫困上不了学时，您告诉工会，工会的“金秋助学“活动帮助孩子圆梦</p>
								<p>5、当您需要找工作时，您告诉工会，工会帮您推荐合适的岗位。</p>
								<p>6、当您遭受病痛折磨无钱医治时，可以从市总工会兴办的在职职工祝愿保险，
									重大疾病保险、女职工特殊疾病保险、安康团体意外伤害保险得到资助
								</p>
								<p>7、当您工作劳累或身在异乡倍感孤独时，工会举办的文体活动带给您身心愉悦。</p>
								<p>8、当您需要学习文化、学习技能时，工会开展的教育培训和岗位练兵活动使您不断提升自己，完善自我。</p>
							</div>
						</div>
						<!--进度查询-->
						<div class="sp_content tab-togg" style="margin-top: 50px">
							<div class="sp_title">
								<h4>审批状态</h4>
							</div>
							   <div class="znawu_box">
							   	 <div class="zanwu_img">
							   	 	<img src="images/zanwu.png">
							   	 </div>
							   	 <p>暂无数据</p>
							   </div>
								<div class="xiexin_content">
							         <ul>
								         <li @click="jinduTan">
											 <div class="xiexin_bg" >
												 <h4 v-if="jinduList.status == 0" style="background-color: #09f709;">已完成</h4>
												 <h4 v-else-if="jinduList.status == 5" style="background-color: #db2c28;">被拒绝</h4>
												 <h4 v-else style="background-color: #cccc33;">进行中</h4>
											 </div>
									            <div class="xiexin_text clearfix">
									          	   <a>{{newName}}入会申请书</a>
													<!--
													memshipTime 成功的时间
													applyTime	申请时间
													examinTime	审核时间
													-->
										           <!--<span v-if="jinduList.status == 0" >通过日期：{{jinduList.memshipTime}}</span>
										           <span v-if="jinduList.status == 5" >未通过日期：{{jinduList.memshipTime}}</span>-->
										           <span v-if="jinduList.status == 0">日期：{{jinduList.examinTime}}</span>
										           <span v-else></span>

									          </div>
								         </li>      
							         </ul>
						        </div>
							</div>
					</div>
						<!--在线办理-->
						<div class="sq tab-togg">
						  <div class="nei_box">
							<div class="sq_list">
								<h4>我的入会申请表</h4>
							</div>
							<form action="" method="">
								<div class="sq_content">
									<span><i>*</i>所在工会：</span>
									<input type="text" placeholder="请选择所在工会名称" @click="showList"
										   name="text" v-model="unionItem" autocomplete="off"/>


								</div>

								<div class="sq_content">
									<span><i>*</i>所在单位：</span>
									<input type="text" placeholder="请输入所在单位名称" name="text" @click="showDanwei"
										   v-model="suoShuItem" autocomplete="off"/>

								</div>
								<div class="anniu">
									<button type="button" class="tijiao active" @click="addUnion">提交</button>
									<button type="reset" class="chongzhi">重置信息</button>
								</div>
							</form>
						  </div>
						  <div class="wq_box">您的入会申请正在审核中，请点击进度查询查看具体进度！</div>
						</div>
						<!--办理流程-->
						<div class="jindu-query tab-togg">
							<div class="liuChengPic">
								<img src="images/liucheng/rh-lc.jpg">
							</div>

						</div>
					</div>



				</div>
			</div>

			<!--右侧功能栏-->
			<div class="slide">
				<ul>
					<li class="open-hyzx">
						<i class="icon iconfont icon-member"></i>
						<a href="##">{{membercenter}}</a>
					</li>
					<li>
						<i class="icon iconfont icon-xiaoxi"></i><a href="##">消息通知</a>
						<div class="tz-bage">
							<span class="bage">10</span>
						</div>
					</li>
					<li class="kefu"><i class="icon iconfont icon-kefu1 "></i><a href="##">智能客服</a></li>
					<li><i class="icon iconfont icon-xinlang"></i><a href="##">微博</a></li>
					<li><i class="icon iconfont icon-weixin2"></i><a href="##">微信</a></li>
					<li><i class="icon iconfont icon-APP"></i><a href="##">APP</a></li>
					<li id="top"><i class="icon iconfont icon-fanhuidingbu-"></i><a href="##">TOP</a></li>
				</ul>
				<div class="sina">
					<a href="">
						<img src="images/sina.png" width="100px" height="100px">
					</a>
					<p>新浪微博二维码</p>
				</div>
				<div class="ewm">
					<a href="">
						<img src="images/erweima.jpg" width="100px" height="100px">
					</a>
					<p>工会微信公众号</p>
				</div>
				<div class="exit">
					<img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>
					<p class="phoneUser">{{userPhone}}</p>
					<button @click="clear()">退出</button>

				</div>
				<div class="appDoload">
					<div class="ang">
						<p>App下载</p>
						<img src="images/android.jpg" alt="App下载">
					</div>
				</div>
			</div>
			<!--智能客服-->
			<div class="customer-service" >
				<div class="kf_box">
					<div class="kf clearfix">
						<div class="kf_left">
							<a href=""><img src="images/gh_x.png" width="23px" height="23px"></a>
							<span>工会智能小K</span>
						</div>
						<div class="kf_right">
							<i class="icon iconfont icon-xiajiantou"></i>
						</div>
					</div>
				</div>
				<div class="chat_box">
					<div id="chat" class="chat clearfix">
						<div class="chat_left">
							<a href=""><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
							<span>客服</span>
							<p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
						</div>
					</div>
					<div class="down"></div>
					<div class="shuru">
						<input type="text" placeholder="请输入文字..."  v-model="userinp" autocomplete="off"/>
					</div>
					<div class="send clearfix">
						<div class="send_left">
							<i class="icon iconfont icon-smiling" ></i>
						</div>
						<div class="send_right">
							<button type="button" @click="sendModel">发送</button>
						</div>
					</div>
				</div>
			</div>
			<!--模态框-->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			 aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="height: 100%; overflow: hidden">
				<div class="modal-content" >
					<div class="modal-header">

						<div class="tishi_title clearfix">
							<span>温馨提示</span>
							<button type="button" class="close"
									data-dismiss="modal" aria-hidden="true" style="font-size: 30px">
								&times;
							</button>
						</div>
				<div class="tishi">

					<div class="tishi_box">
						<div class="mm_cz">
							<i class="icon iconfont icon-zhuyi"></i>
							<span>您尚未进行实名认证！</span>
						</div>
						<div class="dl_anniu" style="margin-bottom: 55px;text-align: center;" >
							<button class="mLogin" @click="goToAttest">立即认证</button>
						</div>
					</div>
				</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		<div class="shu-union" v-show="isShow">
			<div class="shu-unionnei">
				<div class="union-title">
				<p >选择信息</p>
				<span class="cha" @click="btnClose()"></span>
			</div>
			<div class="union-content" style="display: block;" >
				<div class="content-small-title">
					   <!-- <p v-if="unionList">{{unionList}}</p> -->
					   <!-- <p v-else>选择工会</p> -->
					   <input class="p" type="" disabled="disabled" class="val1" v-model="MOhuyunion" name="" value="选择工会" autocomplete="off">

					<input type="text" id="sousuo" placeholder="请输入工会名称"
						   v-model="MOhuyunion" autocomplete="off">
						   <button @click="btnSousuo()">搜索</button>
				</div>
				<ul id="union-name" style="overflow: auto; height:70%;">
					<li v-for="(item,index) in unionList"
						 :title="item.laborun_name"
						 :key="index" @click="hideList(item.laborun_code,item.laborun_name)">
						 {{item.laborun_name}}
					</li>





				</ul>
				<p @click="loadMore" class="more"  v-show="isLoad">
						加载更多
					   <i class=" iconfont icon-shuangxiajiantou-" style="color: red;font-size: 12px"></i>
				</p>
			</div>
			</div>
		</div>
		<div class="shu-union" v-show="isShow2">
			<div class="shu-unionnei">
				<div class="union-title">
					<p>选择信息</p>
					<span class="cha" @click="btnClose1()"></span>
				</div>

				<div class="union-content" >
					<div class="content-small-title">
						<!-- <p v-if="suoShuUnit">{{suoShuUnit}}</p>
						<p v-else>选择单位</p> -->
						 <input class="p" type="" disabled="disabled" v-model="MOhuyDan" name="" value="选择单位" autocomplete="off">
						 <input type="text" id="sercer" placeholder="请输入工会名称" v-model="MOhuyDan" autocomplete="off">
						 <!-- <button @click="btnSousuo2()">搜索</button> -->
					</div>
					<ul id="Nametwo" style="overflow: auto; height: 70%;" >
					<li v-for="(item,index) in suoShuUnit"
						 :title="item.name"
						 :key="index" @click="RemoveList">
						 {{item.name}}
					</li>

					</ul>
					<p @click="load" class="more"  v-show="iLoad">
							加载更多
							<i class=" iconfont icon-shuangxiajiantou-" style="color: red;font-size: 12px"></i>

						</p>
				</div>
			</div>
		</div>
	<!--底部-->
	<div id="footer"></div>
	   </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(function () {
        tabtogg('.work-guide','.my_ghcontentright','.work-guide p',' .work-guide i');
        tabtogg('.work-process','.sp_content  ','.work-process p',' .work-process i');
        tabtogg('.work-online','.sq','.work-online p',' .work-online i');
        tabtogg('.work-query','.jindu-query','.work-query p',' .work-query i');

    })
</script>
<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/usertoken.js"></script>
<script>
    var vm = new Vue({
        el: "#nameselect",
        data: {
            isactive:false,
            userinp:'',
            userPhone:'',
            unionList:'',
            suoShuUnit:'',
            MOhuyunion:'',
            MOhuyDan:'',

            uniondanList:'',
            membercenter:'',
			isShow:false,
			isShow2:false,
			unionName:[],

			unionDanWei:[],
			start:0,
			endNum:50,
            isLoad:false,
            iLoad:false,
			arr:[],
            unioinNum:30,
            unionUNM:30,
            unionItem:'',
            suoShuItem:'',
            nameCode:'',
            nowTime:'',
            nowDay:'',
            jinduList:[],
            userHeaderPic:'',
			newName:'',
			inPosition:'办理指南'

        },
        methods:{
            //客服
            sendModel(){
                kfhuifu();
			},
            //选择工会
            showList(){
				const that = this;
                that.isShow = true;
                 
                $.ajax({
                    type:"post",
                    url:unionUrl + "/passLaborweb/api/laborun/union/getLaborunListJsonPage",
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify({
                        "laborunName":that.laborun_name,
                        "page":"1",
                        "size":"20",
                        "token":userTok.token
                    }),
                    async: false,
                    dataType:"json",
                    success:  function (result) {

                    	console.log(result.data.content);

                           that.unionList=result.data.content;
                        $("#union-name").scroll(function(){
                            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
                            var nScrollTop = 0;   //滚动到的当前位置
                            var nDivHight = $("#union-name").height();

                            nScrollHight = $(this)[0].scrollHeight;
                            nScrollTop = $(this)[0].scrollTop;
                            // console.log(nScrollTop);
                            if(nScrollTop + nDivHight >= nScrollHight){
                                //显示加载更多
                                that.isLoad = true
							}else{
                                //隐藏加载更多
                                that.isLoad = false
							}
                        });

                    }
                });
			},
            clear(){
            	  sessionStorage.clear();
            	  window.open("denglu.html","_self")
            },
            btnClose(){
            	var that=this;
            	that.isShow = false;
            	that.unionItem='';
            	console.log(that.unionItem);
            	// $(".val1").val("");
            },
            btnClose1(){
             	var that=this;
            	that.isShow2 = false;
            	that.suoShuItem='';
            	
            },
            // 点击在线办理查询是否登录
            wq_tijiao(){
				  this.inPosition='在线办理'
                  if (userTok.token == null) {
            	       // alert("请登录")
            	       $('#myModal').modal();
            	       $(".close").hide();
				       $('.mm_cz>span').html("该业务需要您登录之后才能操作！");
				       $(".dl_anniu").hide();
				       setTimeout(function(){
				       	window.location.href="denglu.html";
				       },2000)
                    }
            },
            
            //选择单位 ok
            showDanwei(){
            	const that = this;
                that.isShow2 = true;
                $.ajax({
                    type:"post",
                    url:unionUrl + "/passLaborweb/api/laborun/enterprisesUnit/getUnitListJsonPage",
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify({
                        "unitName":that.unionItem,
						"page":1,
						"size":30,
                        "token":userTok.token
                    }),
                    async: false,

                    success:  function (result) {
						console.log(result.data);
						console.log(that.unionItem);

						that.suoShuUnit=result.data.content;
						$("#Nametwo").scroll(function(){
                            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
                            var nScrollTop = 0;   //滚动到的当前位置
                            var nDivHight = $("#Nametwo").height();

                            nScrollHight = $(this)[0].scrollHeight;
                            console.log(nScrollHight);
                            nScrollTop = $(this)[0].scrollTop;
                            console.log(nScrollTop);
                            if(nScrollTop + nDivHight >= nScrollHight){
                                //显示加载更多
                                that.iLoad = true
							}else{
                                //隐藏加载更多
                                that.iLoad = false
							}

                        });

                    }
                });

			},
            //获取当前li 的文本
            hideList(code,name){
                this.unionItem =  name;
                console.log(name);
                this.isShow = false;
                console.log(code);	
                this.nameCode=code;

			},
			RemoveList(e){
                this.suoShuItem =  e.target.innerText;
                this.isShow2 = false;
            },
			//加载更多工会名称 ok
            loadMore(){
                var that = this;
                that.isLoad=false;
                that.unioinNum+=30;
                 $.ajax({
                    type:"post",
                    url:unionUrl + "/passLaborweb/api/laborun/union/getLaborunListJsonPage",
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify({
                        "unitName":that.unitName,
						"page":1,
						"size":that.unioinNum,
                        "token":userTok.token
                    }),
                    async: true,
                    dataType:"json",
                    success:  function (result) {
						console.log(result.data.content);
						that.unionList=result.data.content;


                    }
                });
			},
			load(){

                var that = this;
                 that.iLoad=false;
                that.unionUNM+=30;
                 $.ajax({
                     type:"post",
                     url:unionUrl + "/passLaborweb/api/laborun/union/getLaborunListJsonPage",
                     contentType:'application/json;charset=UTF-8',
                     data:JSON.stringify({
                         "unitName":that.unitName,
                         "page":1,
                         "size":that.unioinNum,
                         "token":userTok.token
                     }),
                    async: true,
                    success:  function (result) {
						console.log(result.data.content);
						that.suoShuUnit=result.data.content;



                    }
                });
			},
            //入会申请
            addUnion(){
				var that = this;
                //入会申请
                $.ajax({
                    type:'post',
                    url: unionUrl + '/passLaborweb/api/laborun/a10BaseInfo/appMembership',

                    data:JSON.stringify({
                        "laborunName": that.unionItem,
                        "unitName": that.suoShuItem,
                        "token": userTok.token,
                        "source":"3"
                    }),
                    contentType: 'application/json',
                    dataType: "json",
                    success:  function (result) {
						console.log(result);

                        if(result.code === "30001"){
                            $('#myModal').modal();
						}else if (result.code === "0") {
							$('#myModal').modal();
                             $('.mm_cz>span').html(result.msg);
                             $(".mLogin").html("确定");
                            
						}else{
							$('#myModal').modal();
							$('.mm_cz>span').html(result.msg);
							 $(".dl_anniu").hide();
						}

                    }
                });
			},
			//去认证
			goToAttest(){
				if ($(".mLogin").html()=="立即认证") {
					window.open("hyzx.html");
				}else if ($(".mLogin").html()=="登录") {
					window.open("denglu.html","_self");
					
				}else if ($(".mLogin").html()=="确定") {
					window.location.reload();
				}
				
			},
			//入会状态查询
			getStore(){
				var that=this;
                this.inPosition='进度查询'
                $.ajax({
                    type:'post',
                    url: unionUrl + "/passLaborweb/api/laborun/a10BaseInfo/queryMembershipStatus",
                    contentType: 'application/json',
                    data:JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result){
                        that.jinduList =result.data;
                        console.log(that.jinduList)
                        if (result.data.status==-1) {
                        	$(".xiexin_content").hide();
                        	$(".znawu_box").show();
                        }else{
                          $(".xiexin_content").show();
                          $(".znawu_box").hide();

                        }
                    }
                })



			},
			jinduTan(){
             var that=this
             // console.log(id)
              window.open("grrh_info.html","_self");
            },
			// 工会搜索  ok
			btnSousuo(){
				const that = this;
				 $.ajax({
                    type:"post",
                     url:unionUrl + "/passLaborweb/api/laborun/union/getLaborunListJsonPage",
                     contentType:'application/json;charset=UTF-8',
                     data:JSON.stringify({
                         "laborunName":that.MOhuyunion,
                         "page":"1",
                         "size":"20",
                         "token":userTok.token
                     }),
                    async: false,
                    success:  function (result) {

                    	console.log(result.data.content);

                           that.unionList=result.data.content;
                        $("#union-name").scroll(function(){
                            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
                            var nScrollTop = 0;   //滚动到的当前位置
                            var nDivHight = $("#union-name").height();

                            nScrollHight = $(this)[0].scrollHeight;
                            nScrollTop = $(this)[0].scrollTop;
                            // console.log(nScrollTop);
                            if(nScrollTop + nDivHight >= nScrollHight){
                                //显示加载更多
                                that.isLoad = true
							}else{
                                //隐藏加载更多
                                that.isLoad = false
							}
                        });
                    }
                });
			},

            changePosition1(){
			    this.inPosition='办理指南'
			},
            changePosition2(){
                this.inPosition='办理流程'
            }

			


        },
        mounted(){

            const that = this;
            that.nowTime = nowTimeDay;

            getDay();
            that.nowDay = nowDay;
            
            //入会成功之后 不可编辑 回显工会
             $.ajax({
                    type:'post',
                    url: unionUrl + "/passLaborweb/api/laborun/a10BaseInfo/queryMembershipStatus",
                    contentType: 'application/json',
                    data:JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result){

                    console.log(result);
					 if (result.data.status == 0) {
								$('.sq_content input').attr('disabled','disabled');
								$('.anniu button').hide();
								that.unionItem = result.data.laborunName;
								that.suoShuItem = result.data.unitName;
								$(".nei_box").show();
								$(".wq_box").hide();
						}else if (result.data.status== -1){
							 $('.sq_content input').attr('disabled',false);
							 $('.anniu button').show();
							 that.unionList = '';
							 that.suoShuUnit = '';
							 $(".nei_box").show();
							 $(".wq_box").hide();
						}else if (result.data.status== 1) {
							    $('.sq_content input').attr('disabled','disabled');
								$('.anniu button').hide();
								$(".nei_box").hide();
								$(".wq_box").show();
						}else{
							 $('.sq_content input').attr('disabled',false);
							 $('.anniu button').show();
							 $(".nei_box").show();
							 $(".wq_box").hide();
						}

                    }

              });
            
              if (userTok.token==null) {
            	$(".xiexin_content").hide();
                $(".znawu_box").show();
            }


            //实名制查询   显示图片 名字
            $.ajax({
                type: 'post',
                url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
                contentType: 'application/json',
                data: JSON.stringify({
                    "token": userTok.token
                }),
                async: false,
                success: function (result) {
                    console.log(result.data.content[0].realName);
                    if(result.data.total == 1){
					    //用户头像
                        that.userHeaderPic = result.data.content[0].portraitPic;
						console.log('已经实名制')
						that.newName=result.data.content[0].realName;
					}else if(result.data.total == 0){
					    that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您已掉线');
                        $('#myModal').modal();
                        $('.mm_cz>span').html("您已掉线，请重新登录！");
                        $(".mLogin").html("重新登录");
                    }else{
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您已掉线');
                        $('#myModal').modal();
                        $('.mm_cz>span').html("您已掉线，请重新登录！");
                        $(".mLogin").html("重新登录");
					}
                }
            })











        }



    })


</script>
<!--智能客服-->
<script src="js/znkf.js"></script>


</html>