<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>阳泉市总工会</title>
	<link rel="icon" href="images/picture.png" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/jnts_lb.css">
	<!--全局样式-->
	<link rel="stylesheet" href="css/style.css">
	<title>技能提升-列表页</title>
	<style>
		.showmask2,.showmask1{
			display: none;
		}
		.content,.xiala{
			display: none;
		}
		#descrse{
			width: 100%;
			height: 56px;
			overflow: hidden;
			display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
		}
		.zms_left ul li{
			cursor: pointer;
		}
	</style>
</head>
<body>
<div id="newspage" v-cloak>
	<div class="nav_box" >
		<div class="nav1">
			<div class="nav_left">
				<a href="index.html"><img src="images/logo.png"></a>
			</div>
			<div class="tubiao">
				<p>{{nowTime}}</p>
				<p>{{nowDay}}</p>
			</div>
			<div class="nav_center clearfix">
				<div class="tianqi">
					<iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
							src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
				</div>
			</div>

			<!--&lt;!&ndash;微信矩阵开始&ndash;&gt;-->
			<!--<div class="nav_right clearfix" >-->
				<!--&lt;!&ndash;网站集群&ndash;&gt;-->
				<!--<div class="juxing" id="showmask2">-->
					<!--<i class="icon iconfont icon-pingtai" style="margin-top: 10px"></i>-->
					<!--<p>网站集群</p>-->

					<!--<div class="top-arrow1"></div>-->
					<!--<div class="top-arrow1ccc"></div>-->
				<!--</div>-->
				<!--<div class="wechat-mask clearfix">-->
					<!--<div class="jq showmask1">-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">市</a></li>-->
								<!--<li><a href="">阳泉</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">区/县</a></li>-->
								<!--<li><a href="">阳泉城区</a></li>-->
								<!--<li><a href="">阳泉矿区</a></li>-->
								<!--<li><a href="">阳泉郊区</a></li>-->
								<!--<li><a href="">平定县</a></li>-->
								<!--<li><a href="">盂县</a></li>-->
							<!--</ul>-->
						<!--</div>-->

					<!--</div>-->
				<!--</div>-->
				<!--&lt;!&ndash;微信矩阵&ndash;&gt;-->
				<!--<div class="juxing pic" id="showmask1" >-->
					<!--<i class="icon iconfont icon-weixin2" style="margin-top: 10px"></i>-->
					<!--<p>微信矩阵</p>-->
					<!--<div class="top-arrow2"></div>-->
					<!--<div class="top-arrow2ccc"></div>-->
				<!--</div>-->
				<!--<div class="wechat-mask clearfix">-->


					<!--<div class="jq showmask2">-->

						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">市</a></li>-->
								<!--<li><a href="">阳泉</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">区/县</a></li>-->
								<!--<li><a href="">阳泉城区</a></li>-->
								<!--<li><a href="">阳泉矿区</a></li>-->
								<!--<li><a href="">阳泉郊区</a></li>-->
								<!--<li><a href="">平定县</a></li>-->
								<!--<li><a href="">盂县</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">产业工会</a></li>-->
								<!--<li><a href="">非公企业工会</a></li>-->
								<!--<li><a href="">财贸轻纺烟草工会</a></li>-->
								<!--<li><a href="">农林水工会</a></li>-->
								<!--<li><a href="">省煤炭工会</a></li>-->
								<!--<li><a href="">机冶建材工会</a></li>-->
								<!--<li><a href="">省直机关工会工委</a></li>-->
								<!--<li><a href="">省监狱工会</a></li>-->
								<!--<li><a href="">信息业工会</a></li>-->
								<!--<li><a href="">建筑业工会</a></li>-->
								<!--<li><a href="">直属基层工委</a></li>-->
								<!--<li><a href="">省公路运输工委</a></li>-->
								<!--<li><a href="">电业工会</a></li>-->
								<!--<li><a href="">教科文卫体工会</a></li>-->
								<!--<li><a href="">太铁工会</a></li>-->
								<!--<li><a href="">金融工委</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--&lt;!&ndash;微信矩阵结束&ndash;&gt;-->


		</div>
		<div class="list_online">
			<div class="search clearfix">
				<!--  -->

				<input type="text" placeholder="请输入关键字" class="text searchText" id="ser-text" v-model="serKwords" autocomplete="off"/>
				<input type="button" class="button serbutton" value="搜索" @click="goToSer('ssjg.html')" autocomplete="off"/>
			</div>
		</div>
		<div class="list_box">
			<div class="menu">
				<ul class="clearfix">
					<li >
						<a href="index.html">
							<i class="icon iconfont icon-shouye"></i>首页
						</a>
					</li>

					<li class="tissue-jg">
						<a href="zzjg.html">
							<i class="icon iconfont icon-zuzhijigou1"></i>组织机构
						</a>
					</li>
					<li class="news-zx">
						<a href="xwzx.html">
							<i class="icon iconfont icon-xinwen2"></i>新闻资讯
						</a>
					</li>
					<li>
						<a href="zg_index.html">
							<i class="icon iconfont icon-daohangtubiao_fuwudating"></i>服务大厅
						</a>
					</li>
					<li>
						<a href="ztzx.html">
							<i class="icon iconfont icon-zhuanti"></i>专题中心
						</a>
					</li>
					<li class="active">
						<a href="jnts.html">
							<i class="icon iconfont icon-shu1"></i>技能提升
						</a>
					</li>
					<li>
						<a href="data.html">
							<i class="icon iconfont icon-shuju"></i>数据中心
						</a>
					</li>
					<li>
						<a href="zlzx.html">
							<i class="icon iconfont icon-ziliao"></i>资料中心
						</a>
					</li>
				</ul>
			</div>
			<!--新闻资讯-->
			<div class="content clearfix">
				<div class="content_left" style="margin-top: -10px">
					<ul>

						<li v-for="(item,index) in mask1left"
							@click="rightContent(item.categoryId)"
							:key="index">
							<a href="javascript:;">{{item.categoryName}}</a>
						</li>

					</ul>
				</div>
				<div class="content_center">
					<ul>
						<li v-for="(item,name) in mask1right" @click="sendId(item.contentId)">
							<a href="javascript:;">
								<div class="circle"></div>
								{{item.title}}
							</a>
							<span>【{{item.inputdate}}】</span>
						</li>
					</ul>
				</div>

			</div>
			<!--&lt;!&ndash;组织机构&ndash;&gt;-->
			<!--<div class="xiala">-->
				<!--<div class="xiala_left">-->
					<!--<ul>-->
						<!--<li><a href="javascript:;">市总简介</a></li>-->
						<!--<li><a href="javascript:;">市总领导</a></li>-->
						<!--<li class="active1"><a href="javascript:;">内设机构</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="xiala_right">-->
					<!--<div class="xiala_list">-->
						<!--<ul class="clearfix">-->
							<!--<li><a href="javascript:;">市总部门：</a></li>-->
							<!--<li><a href="javascript:;">市总部门：</a></li>-->
							<!--<li v-for="item in jigouDown"><a href="javascript:;">{{item.alwaysDepartmentName}}</a></li>-->
							<!---->
						<!--</ul>-->
					<!--</div>-->

				<!--</div>-->
			<!--</div>-->
			<div class="my_ghtitleleft" style="float: none">
				<i class="icon iconfont icon-shouye"></i>
				<a href="index.html">当前位置：首页></a>
				<a href="jnts.html">技能提升></a>
				<a href="jnts_lb.html" style="color: red;font-weight: bold">课程列表</a>
			</div>
			<div class="zs">
				<div class="zds same">
					<ul class="clearfix">
						<li><a href="javascript:;">领域：</a></li>
						<li class="act" @click="toggList(12)">{{oneTitle}}</li>
						<li @click="toggList(14)">{{twoTitle}}</li>
						<li @click="toggList(27)">{{threeTitle}}</li>
					</ul>
				</div>
				<div class="zms clearfix same" >
					<div class="zms_left">
						<ul class="clearfix">
							<li>专业:</li>
							<li  v-for="item in topList" @click="toggbottomContent(item.id)">{{item.name}}</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="study clearfix">
				<div class="study_left">
					<i class="icon iconfont icon-liebiao"></i>
					<span>课程列表</span>
				</div>

			</div>
			<div class="matter_cont">
				<ul class="clearfix">



					<li v-for="item in courseList" style="cursor:pointer; margin-top: 30px" @click="lookVideo(item.id)">
						<div class="matter_img">
							<!--<img src="images/bb1.png"/>-->
							<img :src=item.showPictures  />
                            <div class="zhazhao"></div>
						</div>
						<div class="matter_box">
							<div class="matter_text">
								<h4>{{item.courseTitle}}</h4>
							</div>
							<div class="hengxian"></div>

							<div class="details"  id="descrse" v-html="item.courseDescription"></div>

						</div>

					</li>





				</ul>
			</div>
		</div>
		<!--底部-->
		<div id="footer"></div>
		<div class="slide">
			<ul>
				<li class="open-hyzx">
					<i class="icon iconfont icon-member" style="margin-top: 10px"></i>
					<a>{{membercenter}}</a>
				</li>
				<li>
					<i class="icon iconfont icon-xiaoxi" style="margin-top: 10px"></i><a href="##">消息通知</a>
					<div class="tz-bage">
						<span class="bage">10</span>
					</div>
				</li>
				<li class="kefu"><i class="icon iconfont icon-kefu1 " style="margin-top: 10px"></i><a href="##">智能客服</a></li>
				<li><i class="icon iconfont icon-xinlang" style="margin-top: 10px"></i><a href="##">微博</a></li>
				<li><i class="icon iconfont icon-weixin2" style="margin-top: 10px"></i><a href="##">微信</a></li>
				<li><i class="icon iconfont icon-APP" style="margin-top: 10px"></i><a href="##">APP</a></li>
				<li id="top"><i class="icon iconfont icon-fanhuidingbu-" style="margin-top: 10px"></i><a href="##">TOP</a></li>
			</ul>



			<div class="sina">
				<a href="">
					<img src="images/sina.png" width="100px" height="100px">
				</a>
				<p>新浪微博二维码</p>
			</div>
			<div class="ewm">
				<a href="">
					<img src="images/erweima.jpg" width="100px" height="100px">
				</a>
				<p>工会微信公众号</p>
			</div>
			<div class="exit">
				<img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>
				<p class="phoneUser">{{userPhone}}</p>
				<button  @click="clear()">退出</button>
			</div>
			<div class="appDoload">
				<div class="ang">
					<p>App下载</p>
					<img src="images/android.jpg" alt="App下载">
				</div>
			</div>


		</div>
		<!--智能客服-->
		<div class="customer-service" >
			<div class="kf_box">
				<div class="kf clearfix">
					<div class="kf_left">
						<a href=""><img src="images/gh_x.png" width="23px" height="23px"></a>
						<span>工会智能小K</span>
					</div>
					<div class="kf_right">
						<i class="icon iconfont icon-xiajiantou"></i>
					</div>
				</div>
			</div>
			<div class="chat_box">
				<div id="chat" class="chat clearfix">
					<div class="chat_left">
						<a href=""><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
						<span>客服</span>
						<p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
					</div>
				</div>
				<div class="down"></div>
				<div class="shuru">
					<input type="text" placeholder="请输入文字..."  v-model="userinp" autocomplete="off"/>
				</div>
				<div class="send clearfix">
					<div class="send_left">
						<i class="icon iconfont icon-smiling" ></i>
					</div>
					<div class="send_right">
						<button type="button" @click="sendModel">发送</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/usertoken.js"></script>
<script type="text/javascript">
	 function haha(){
   	 $(document).on('click',".same ul li",function(){
              $(this).closest('.same ul').find('li').removeClass('actAdd');
              $(this).addClass('actAdd');
     });
   }
</script>
<script>
  var vm =  new Vue({
        el: "#newspage",
        data: {
        	mask1left:[],
        	mask1right:[],
            userPhone:'',
            newsList:[],
            newsRightList:[],
            isactive:false,
            userinp:'',
            courseList:[],
            membercenter:'',
            nowTime:'',
            nowDay:'',

			topList:[],
			bittonList:[],

            bigContent:[],
            oneTitle:'',
            twoTitle:'',
            threeTitle:'',
            userHeaderPic:'',
			serKwords:''


		},
         methods: {
            //遮罩层1左侧菜单列表
            getMask1LeftMenu(){
                const that = this;
                $.ajax({
                    url: baseUrl + "/api/category/list",
                    data:{
                        parentId:"290"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.mask1left = (result.data);

                    }
                })
            },
            rightContent(id){
                const that = this;
                $.ajax({
                    url:baseUrl + "/api/content/list",

                    data:{
                        "categoryId" : id,
                        "num" : "1",
                        "pageSize" : "10"
                    },
                    dataType:"json",
                    success:  function (result) {
                        that.mask1right = result.data.list;

                        console.log(that.mask1right)
                    }
                })




            },
			getNewsleftList(){
                 const that = this;
                 $.ajax({
                     url: baseUrl + "/api/category/list",
                     data:{
                        parentId:"290"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                            that.newsList = (result.data);
                    }
                })
		 	 },
			showRightMsg(id){
			     console.log(id)
                 const that = this
                 $.ajax({
                     url: baseUrl + "/api/content/list",
                     data:{
                         "categoryId" : id,
                         "num" : "1",
                         "pageSize" : "10"
                     },
                     dataType:"json",
                     success:  function (result) {
                         that.newsRightList = result.data.list;
                         console.log(that.newsRightList)
                     }
                 })
			},
            sendModel(){
                kfhuifu();
			},
             goToSer(path){
				 const that=this
				 console.log(that.serKwords)
				 window.open(path,'_self')
				 localStorage.setItem("keywords",that.serKwords)
             },
             //搜索框下拉
             serType(){
                 if(this.serTypeWrap == true){
                     this.serTypeWrap =false
                 }else{
                     this.serTypeWrap = true
                 }
             },

             sendSousuo(id,name){
                 var that = this;
                 that.serModel = name;
                 that.sousuoID = id;
                 console.log(that.serModel);
                 console.log(that.sousuoID);


                 that.serTypeWrap = false




             },
			//展示根据首页id跳转过来的详情列表
			getUrlid(){
				var that = this
                var aaa = window.location.search;
				var urlID = aaa.substring(1);

                $.ajax({
                    url:  jntsUrl + "api/mobile/getCurriculumlist",
                    data:{
                        "skil_type":urlID,
                        "type":6,
                        "index":1,
                        "pageSize":10,

                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
						console.log(urlID)
                        console.log(result);
                        that.courseList = result.data;






                    }
                })


			},
            //跳转详情(video)页面
            lookVideo(id){
			    console.log(id);
                window.open('jnts_xq.html?'+id,'_self')


            },
			//获取标题
			getTitle(){
                var that = this;
                $.ajax({
                    url: jntsUrl+ "/api/mobile/findTypePerms",
                    data:{
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.bigContent = result.data;
                        console.log(result)
                        that.oneTitle = that.bigContent[0].name;
                        that.twoTitle = that.bigContent[1].name;
                        that.threeTitle = that.bigContent[2].name;

                    }
                })
			},

			//根据领域id切换专业
			toggList(id){
               var aaa = window.location.search;
               var urlID = aaa.substring(1);

                console.log(id);
                if(id == undefined){
                   id = 12
				}
                var that = this;
                $.ajax({
                    url:  jntsUrl+"/api/mobile/getAllCurriculumlist",
                    data:{
                        "skil_type":id,
                        "index":1,
                        "pageSize":10,	
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        console.log(result);
                        that.topList = result.data.typelist;
                        console.log(that.topList)
                        that.courseList = result.data.pageInfo.list;
						console.log( that.courseList )


                    }
                })

			},
			//跳转详情页
            sendId(id){
				console.log(id)
                window.location.href=('xw_xq.html' + '?'+id)
            },
			//默认显示通用技能--车工
            showtopList(){
               var that = this;
               $.ajax({
				  type:'post',
                  url:  jntsUrl+"/api/mobile/getAllCurriculumlist",

                   data:{
                     "skil_type":17,
                     "index":1,
                     "pageSize":10,
                  },
                  async: false,
                  dataType:"json",
                  success:  function (result) {
                     console.log(result);

                     that.topList = result.data.typelist;

                  }
               })

            },
			toggbottomContent(id){
				haha();
			    console.log(id);
				var that =this;
                 $.ajax({
                     url: jntsUrl+ "api/mobile/getCurriculumlist",
                     data:{
                         "skil_type":id,
                         "type":6,
                         "index":1,
                         "pageSize":10,
                     },
                     async: false,
                     dataType:"json",
                     success:  function (result) {
                         console.log(result);
                         that.courseList = result.data;


                     }
                 })
			 }

  		},
	  	mounted(){
            const that = this;
			//新闻页 左侧列表
            //that.getNewsleftList();
			that.getMask1LeftMenu();
			that.getUrlid();
			that.getTitle();
            that.nowTime = nowTimeDay;
			that.toggList();
			that.showtopList();

            getDay();
            that.nowDay = nowDay;
            //新闻 默认显示id 306
            $.ajax({
                url:baseUrl + "/api/content/list",
                data:{
                    "categoryId" : "306",
                    "num" : "1",
                    "pageSize" : "10"
                },
                dataType:"json",
                success:  function (result) {
                    that.mask1right = result.data.list;
                    that.rightTop = that.mask1right[1];


                }
            });



           
          //实名制查询   显示用户头像 名字
             
              if(userTok.token != null){
                   $.ajax({
                        type: 'post',
                        url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
                        contentType: 'application/json',
                        data: JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result) {
                    console.log(result);

                    if (result.data.total == 1) {
                        //用户头像
                        that.userHeaderPic = result.data.content[0].portraitPic;
                        console.log('已经实名制')
                    } else if (result.data.total == 0) {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    } else {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    }


                     }

                   })
              }


			
        }
    })


</script>
<!--智能客服-->
<script src="js/znkf.js"></script>
<script>
    $(function () {

		/*微信矩阵 网站集群显示隐藏 复制*/
        $('#showmask1').mouseenter(function () {
            $('.showmask2').show();
            $('.top-arrow2').show()
            $('.top-arrow2ccc').show()
            $('.showmask1').hide()
            $('.top-arrow1').hide()
            $('.top-arrow1ccc').hide()
        });
        $('.showmask2').mouseleave(function () {
            $('.showmask2').hide()
            $('.top-arrow2').hide()
            $('.top-arrow2ccc').hide()
        });
        $('#showmask2').mouseenter(function () {
            $('.showmask1').show()
            $('.top-arrow1').show()
            $('.top-arrow1ccc').show()
            $('.showmask2').hide()
            $('.top-arrow2').hide()
            $('.top-arrow2ccc').hide()
        });
        $('.showmask1').mouseleave(function () {
            $('.showmask1').hide()
            $('.top-arrow1').hide()
            $('.top-arrow1ccc').hide()
        });


        $('.hideMask').mouseenter(function () {
            $('.xiala').hide();
            $('.content').hide()
        })


        addactive('.list_online .list ul li','active');
        addactive('.home_list li','active');
        addactive('.matter_list ul li','active');
        addactive('.slide ul li','active');
        addactive('.menu ul li','mu1');
        $(".zds ul li").on("click",function(){
        	$(this).addClass("act").siblings().removeClass("act");
        	$(".zms ul li").removeClass("actAdd");
        })
        
    })

  
</script>
</body>
</html>