<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<link rel="icon" href="images/picture.png" type="image/x-icon"/>
	<title>阳泉市总工会</title>
	<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/jnts.css">
	<link rel="stylesheet" href="css/swiper/swiper.min.css">
	<!--全局样式-->
	<link rel="stylesheet" href="css/style.css">
	<title>技能提升-首页</title>
	<style>
		.showmask2,.showmask1{
			display: none;
		}
		.content,.xiala{
			display: none;
		}
		.ty_right ul li{
			cursor: pointer;
			border-radius: 4px;
		}
		.swiper-container{
			height: 440px;
		}
		.swiper-container .swiper-wrapper .swiper-slide{
			width: 282px!important;
			height: 380px;
			box-shadow: 4px 6px 16px 0px rgba(196, 196, 196, 0.35);
		}
		.same{
			width: 1200px;
			height: 20px;
			margin: 40px auto;
		}
		.same img{
			width: 100%;
			height: 100%;
		}
		.ty_left ul li{
			padding: 5px 15px;
			border-radius: 10px;
		}
		.ty_left ul li:hover{
			background-color: #C9C9C9;
			color: #000000;
		}
	</style>
</head>
<body>
<div id="newspage" v-cloak>
	<div class="nav_box" >
		<!--微信矩阵-->
		<div class="nav1">
			<div class="nav_left">
				<a href="index.html"><img src="images/logo.png"></a>
			</div>
			<div class="tubiao">
				<p>{{nowTime}}</p>
				<p>{{nowDay}}</p>
			</div>
			<div class="nav_center clearfix">
				<div class="tianqi">
					<iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
							src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
				</div>
			</div>

			<!--&lt;!&ndash;微信矩阵开始&ndash;&gt;-->
			<!--<div class="nav_right clearfix" >-->
				<!--&lt;!&ndash;网站集群&ndash;&gt;-->
				<!--<div class="juxing" id="showmask2">-->
					<!--<i class="icon iconfont icon-pingtai" style="margin-top: 10px"></i>-->
					<!--<p>网站集群</p>-->

					<!--<div class="top-arrow1"></div>-->
					<!--<div class="top-arrow1ccc"></div>-->
				<!--</div>-->
				<!--<div class="wechat-mask clearfix">-->
					<!--<div class="jq showmask1">-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">市</a></li>-->
								<!--<li><a href="">阳泉</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">区/县</a></li>-->
								<!--<li><a href="">阳泉城区</a></li>-->
								<!--<li><a href="">阳泉矿区</a></li>-->
								<!--<li><a href="">阳泉郊区</a></li>-->
								<!--<li><a href="">平定县</a></li>-->
								<!--<li><a href="">盂县</a></li>-->
							<!--</ul>-->
						<!--</div>-->

					<!--</div>-->
				<!--</div>-->
				<!--&lt;!&ndash;微信矩阵&ndash;&gt;-->
				<!--<div class="juxing pic" id="showmask1" >-->
					<!--<i class="icon iconfont icon-weixin2" style="margin-top: 10px"></i>-->
					<!--<p>微信矩阵</p>-->
					<!--<div class="top-arrow2"></div>-->
					<!--<div class="top-arrow2ccc"></div>-->
				<!--</div>-->
				<!--<div class="wechat-mask clearfix">-->


					<!--<div class="jq showmask2">-->

						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">市</a></li>-->
								<!--<li><a href="">阳泉</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">区/县</a></li>-->
								<!--<li><a href="">阳泉城区</a></li>-->
								<!--<li><a href="">阳泉矿区</a></li>-->
								<!--<li><a href="">阳泉郊区</a></li>-->
								<!--<li><a href="">平定县</a></li>-->
								<!--<li><a href="">盂县</a></li>-->
							<!--</ul>-->
						<!--</div>-->
						<!--<div class="jq_list">-->
							<!--<ul class="clearfix">-->
								<!--<li><a href="">产业工会</a></li>-->
								<!--<li><a href="">非公企业工会</a></li>-->
								<!--<li><a href="">财贸轻纺烟草工会</a></li>-->
								<!--<li><a href="">农林水工会</a></li>-->
								<!--<li><a href="">省煤炭工会</a></li>-->
								<!--<li><a href="">机冶建材工会</a></li>-->
								<!--<li><a href="">省直机关工会工委</a></li>-->
								<!--<li><a href="">省监狱工会</a></li>-->
								<!--<li><a href="">信息业工会</a></li>-->
								<!--<li><a href="">建筑业工会</a></li>-->
								<!--<li><a href="">直属基层工委</a></li>-->
								<!--<li><a href="">省公路运输工委</a></li>-->
								<!--<li><a href="">电业工会</a></li>-->
								<!--<li><a href="">教科文卫体工会</a></li>-->
								<!--<li><a href="">太铁工会</a></li>-->
								<!--<li><a href="">金融工委</a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--&lt;!&ndash;微信矩阵结束&ndash;&gt;-->



		</div>
		<!--搜索导航-->
		<div class="list_online">
			<div class="search clearfix">


				<input type="text" placeholder="请输入关键字" class="text searchText" id="ser-text" v-model="serKwords" autocomplete="off"/>
				<input type="button" class="button serbutton" value="搜索" @click="goToSer('ssjg.html')" autocomplete="off"/>
			</div>
		</div>
		<!--内容区域-->
		<div class="list_box">
			<div class="menu">
				<ul class="clearfix">
					<li >
						<a href="index.html">
							<i class="icon iconfont icon-shouye"></i>首页
						</a>
					</li>

					<li class="tissue-jg">
						<a href="zzjg.html">
							<i class="icon iconfont icon-zuzhijigou1"></i>组织机构
						</a>
					</li>
					<li class="news-zx">
						<a href="xwzx.html">
							<i class="icon iconfont icon-xinwen2"></i>新闻资讯
						</a>
					</li>
					<li>
						<a href="zg_index.html">
							<i class="icon iconfont icon-daohangtubiao_fuwudating"></i>服务大厅
						</a>
					</li>
					<li>
						<a href="ztzx.html">
							<i class="icon iconfont icon-zhuanti"></i>专题中心
						</a>
					</li>
					<li class="active">
						<a href="javascript:;">
							<i class="icon iconfont icon-shu1"></i>技能提升
						</a>
					</li>
					<li>
						<a href="data.html">
							<i class="icon iconfont icon-shuju"></i>数据中心
						</a>
					</li>
					<li>
						<a href="zlzx.html">
							<i class="icon iconfont icon-ziliao"></i>资料中心
						</a>
					</li>
				</ul>
			</div>

			<!--新闻资讯-->
			<div class="content clearfix">
				<div class="content_left" style="margin-top: -10px">
					<ul>

						<li v-for="(item,index) in mask1left"
							@click="rightContent(item.categoryId)"
							:key="index">
							<a href="javascript:;">{{item.categoryName}}</a>
						</li>

					</ul>
				</div>
				<div class="content_center">
					<ul>
						<li v-for="(item,name) in mask1right" @click="sendId(item.contentId)">
							<a href="javascript:;">
								<div class="circle"></div>
								{{item.title}}
							</a>
							<span>【{{item.inputdate}}】</span>
						</li>
					</ul>
				</div>

			</div>
			<!--组织机构-->
			<!--<div class="xiala">
				<div class="xiala_left">
					<ul>
						<li><a href="javascript:;">市总简介</a></li>
						<li><a href="javascript:;">市总领导</a></li>
						<li class="active1"><a href="javascript:;">内设机构</a></li>
					</ul>
				</div>
				<div class="xiala_right">
					<div class="xiala_list">
						<ul class="clearfix">
							<li><a href="javascript:;">市总部门：</a></li>
							<li><a href="javascript:;">市总部门：</a></li>
							<li v-for="item in jigouDown"><a href="javascript:;">{{item.alwaysDepartmentName}}</a></li>

						</ul>
					</div>

				</div>
			</div>-->


			<div class="my_ghtitleleft">
				<i class="icon iconfont icon-shouye"></i>
				<a href="index.html">当前位置：首页></a>
				<span>技能提升</span>
			</div>
			<div class="same">
				<img src="images/b1.png">
			</div>
			<!--通用技术-->
			<div class="ty clearfix">
				<div class="ty_left" style="background: #f77265;">
					<h4  style="cursor: pointer;">{{oneTitle}}</h4>
					<!-- <a href="##"><img src="images/ty.png"/></a> -->
					<ul class="clearfix addHover" >
						<li v-for="items in tongyongjishu" @click="listToggle(items.id)">
							{{items.name}}
						</li>
					</ul>

				</div>
				<div class="ty_right">
					<!-- <div class="ty_xian"></div> -->

					<ul class="clearfix addHover">
						<li   v-for="tit in threeContent1"  @click="gotoVideo(tit.id)">
							<div class="threePic">
								<img :src="tit.showPictures" >
								<p>{{tit.courseTitle}}</p>
							</div>
							<div class="zheZhao"></div>
						</li>

					</ul>

				</div>
			</div>
			<!--行业技术-->
			<div class="ty clearfix" >
				<div class="ty_left" style="background: #7192ff">
					<h4>{{twoTitle}}</h4>

					<ul class="clearfix addHover">
						<li v-for="items in hangyejishu" style="cursor: pointer" @click="listToggle(items.id)">
							{{items.name}}
						</li>
					</ul>

				</div>
				<div class="ty_right">

					<ul class="clearfix">
						<li v-for="tit in threeContent2" @click="gotoVideo(tit.id)">
							<a href="##">
								<div class="threePic">
									<img :src="tit.showPictures" />
									<p>{{tit.courseTitle}}</p>
								</div>
								<div class="zheZhao"></div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!--计算机技术-->
			<div class="ty clearfix" >
				<div class="ty_left" style="background: #ffae37">
					<h4>{{threeTitle}}</h4>

					<ul class="clearfix">
						<li v-for="items in jisuanjijishu" @click="listToggle(items.id)">
							{{items.name}}
						</li>
					</ul>

				</div>
				<div class="ty_right">

					<ul class="clearfix">
						<li  v-for="tit in threeContent3" @click="gotoVideo(tit.id)">
							<a href="##">
								<div class="threePic">
									<img :src="tit.showPictures" />
									<p>{{tit.courseTitle}}</p>
								</div>
								<div class="zheZhao"></div>
							</a>
						</li>
					</ul>
				</div>
			</div>

			<!--<div class="same">-->
				<!--<img src="images/b2.png">-->
			<!--</div>-->
			<!--<div class="swiper-container matter_cont">-->
				<!--<div class="swiper-wrapper">-->

					<!--<div class="swiper-slide">-->
						<!--<div class="matter_img">-->
							<!--<img src="images/bb1.png"  />-->
						<!--</div>-->
						<!--<div class="matter_box">-->
							<!--<div class="matter_text">-->
								<!--<h4>张克军</h4>-->
							<!--</div>-->
							<!--<div class="matter_tb">-->
								<!--<i class="icon iconfont icon-fangzicopy"></i>-->
								<!--<span>山西建设机电有限责任公司</span>-->
							<!--</div>-->

							<!--<div class="details">-->
								<!--<p>-->
									<!--重庆建设机电有限责任公司徐凤雏总监专业师...-->
								<!--</p>-->
							<!--</div>-->
							<!--&lt;!&ndash; <div class="ck_more">-->
                                <!--<a href="##">查看更多>></a>-->
                            <!--</div> &ndash;&gt;-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="swiper-slide">-->
						<!--<div class="matter_img">-->
							<!--<img src="images/bb1.png"  />-->
						<!--</div>-->
						<!--<div class="matter_box">-->
							<!--<div class="matter_text">-->
								<!--<h4>张先锋</h4>-->
							<!--</div>-->
							<!--<div class="matter_tb">-->
								<!--<i class="icon iconfont icon-fangzicopy"></i>-->
								<!--<span>山西建设机电有限责任公司</span>-->
							<!--</div>-->

							<!--<div class="details">-->
								<!--<p>-->
									<!--重庆建设机电有限责任公司徐凤雏总监专业师...-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="swiper-slide">-->
						<!--<div class="matter_img">-->
							<!--<img src="images/bb1.png"  />-->
						<!--</div>-->
						<!--<div class="matter_box">-->
							<!--<div class="matter_text">-->
								<!--<h4>吴克群</h4>-->
							<!--</div>-->
							<!--<div class="matter_tb">-->
								<!--<i class="icon iconfont icon-fangzicopy"></i>-->
								<!--<span>山西建设机电有限责任公司</span>-->
							<!--</div>-->

							<!--<div class="details">-->
								<!--<p>-->
									<!--重庆建设机电有限责任公司徐凤雏总监专业师...-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="swiper-slide">-->
						<!--<div class="matter_img">-->
							<!--<img src="images/bb1.png"  />-->
						<!--</div>-->
						<!--<div class="matter_box">-->
							<!--<div class="matter_text">-->
								<!--<h4>李彦杰</h4>-->
							<!--</div>-->
							<!--<div class="matter_tb">-->
								<!--<i class="icon iconfont icon-fangzicopy"></i>-->
								<!--<span>山西建设机电有限责任公司</span>-->
							<!--</div>-->

							<!--<div class="details">-->
								<!--<p>-->
									<!--重庆建设机电有限责任公司徐凤雏总监专业师...-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

					<!--<div class="swiper-slide">-->
						<!--<div class="matter_img">-->
							<!--<img src="images/bb1.png"  />-->
						<!--</div>-->
						<!--<div class="matter_box">-->
							<!--<div class="matter_text">-->
								<!--<h4>王志文</h4>-->
							<!--</div>-->
							<!--<div class="matter_tb">-->
								<!--<i class="icon iconfont icon-fangzicopy"></i>-->
								<!--<span>山西建设机电有限责任公司</span>-->
							<!--</div>-->

							<!--<div class="details">-->
								<!--<p>-->
									<!--重庆建设机电有限责任公司徐凤雏总监专业师...-->
								<!--</p>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->

				<!--</div>-->
			<!--</div>-->
		</div>
		<!--底部-->
		<div id="footer"></div>
		<!--右侧功能栏-->
		<div class="slide">
			<ul>
				<li class="open-hyzx">
					<i class="icon iconfont icon-member" style="margin-top: 10px"></i>
					<a>{{membercenter}}</a>
				</li>
				<li>
					<i class="icon iconfont icon-xiaoxi" style="margin-top: 10px"></i><a href="##">消息通知</a>
					<div class="tz-bage">
						<span class="bage">10</span>
					</div>
				</li>
				<li class="kefu"><i class="icon iconfont icon-kefu1 " style="margin-top: 10px"></i><a href="##">智能客服</a></li>
				<li><i class="icon iconfont icon-xinlang" style="margin-top: 10px"></i><a href="##">微博</a></li>
				<li><i class="icon iconfont icon-weixin2" style="margin-top: 10px"></i><a href="##">微信</a></li>
				<li><i class="icon iconfont icon-APP" style="margin-top: 10px"></i><a href="##">APP</a></li>
				<li id="top"><i class="icon iconfont icon-fanhuidingbu-" style="margin-top: 10px"></i><a href="##">TOP</a></li>
			</ul>
			<div class="sina">
				<a href="">
					<img src="images/sina.png" width="100px" height="100px">
				</a>
				<p>新浪微博二维码</p>
			</div>
			<div class="ewm">
				<a href="">
					<img src="images/erweima.jpg" width="100px" height="100px">
				</a>
				<p>工会微信公众号</p>
			</div>
			<div class="exit">
				<img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>
				<p class="phoneUser">{{userPhone}}</p>
				<button  @click="clear()">退出</button>
			</div>
			<div class="appDoload">
				<div class="ang">
					<p>App下载</p>
					<img src="images/android.jpg" alt="App下载">
				</div>
			</div>
		</div>
		<!--智能客服-->
		<div class="customer-service" >
			<div class="kf_box">
				<div class="kf clearfix">
					<div class="kf_left">
						<a href="##"><img src="images/gh_x.png" width="23px" height="23px"></a>
						<span>工会智能小K</span>
					</div>
					<div class="kf_right">
						<i class="icon iconfont icon-xiajiantou"></i>
					</div>
				</div>
			</div>
			<div class="chat_box">
				<div id="chat" class="chat clearfix">
					<div class="chat_left">
						<a href="##"><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
						<span>客服</span>
						<p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
					</div>

					<div class="chat_left" style="margin-top: 20px;">
						<a href="##"><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
						<span>客服</span>
						<i>2019-3-22  12:12</i>
						<p>工会app下载请点  <a href="##" style="padding-left: 10px;">www.pldk.com</a></p>
					</div>


				</div>
				<div class="down"></div>
				<div class="shuru">
					<input type="text" placeholder="请输入文字..."  v-model="userinp" autocomplete="off"/>
				</div>
				<div class="send clearfix">
					<div class="send_left">
						<i class="icon iconfont icon-smiling" ></i>
					</div>
					<div class="send_right">
						<button type="button" @click="sendModel">发送</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(function () {

		/*微信矩阵 网站集群显示隐藏 复制*/
        $('#showmask1').mouseenter(function () {
            $('.showmask2').show();
            $('.top-arrow2').show();
            $('.top-arrow2ccc').show();
            $('.showmask1').hide();
            $('.top-arrow1').hide();
            $('.top-arrow1ccc').hide()
        });
        $('.showmask2').mouseleave(function () {
            $('.showmask2').hide();
            $('.top-arrow2').hide();
            $('.top-arrow2ccc').hide()
        });
        $('#showmask2').mouseenter(function () {
            $('.showmask1').show()
            $('.top-arrow1').show()
            $('.top-arrow1ccc').show()
            $('.showmask2').hide()
            $('.top-arrow2').hide()
            $('.top-arrow2ccc').hide()
        });
        $('.showmask1').mouseleave(function () {
            $('.showmask1').hide()
            $('.top-arrow1').hide()
            $('.top-arrow1ccc').hide()
        });


        $('.hideMask').mouseenter(function () {
            $('.xiala').hide();
            $('.content').hide()
        })


        addactive('.ty_left ul li','ts');
        $(".more").on("click",function(){
            $(this).next().toggle();
        })
    })
</script>
<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/usertoken.js"></script>
<script>

    var vm =  new Vue({
        el: "#newspage",
        data: {
            mask1left:[],
            mask1right:[],
            newsList:[],
            newsRightList:[],
            isactive:false,
            userinp:'',
            bigContent:[],
            detalsList:[],
            videoContent:[],
            membercenter:'',
            newsTextContent:[],

            tongyongjishu:[],
            hangyejishu:[],
            jisuanjijishu:[],

            //右侧三条图文信息
            threeContent1:[],
            threeContent2:[],
            threeContent3:[],
            nowTime:'',
            nowDay:'',

            //左侧标题
            oneTitle:'',
            twoTitle:'',
            threeTitle:'',
            userPhone:'',
            userHeaderPic:'',
			serKwords:'',

        },
        methods: {
            //遮罩层1左侧菜单列表
            getMask1LeftMenu(){
                const that = this;
                $.ajax({
                    url: baseUrl + "/api/category/list",
                    data:{
                        parentId:"290"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.mask1left = (result.data);

                    }
                })
            },
            getMask1LeftContent(){
                const that = this;
                $.ajax({
                    url:baseUrl + "/api/category/list",
                    data:{
                        parentId:"290"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {

                    }
                })
            },
            rightContent(id){
                const that = this;
                $.ajax({
                    url:baseUrl + "/api/content/list",

                    data:{
                        "categoryId" : id,
                        "num" : "1",
                        "pageSize" : "10"
                    },
                    dataType:"json",
                    success:  function (result) {
                        that.mask1right = result.data.list;

                        console.log(that.mask1right)
                    }
                })




            },
            getNewsleftList(){
                const that = this
                $.ajax({
                    url: baseUrl + "/api/category/list",
                    data:{
                        parentId:"290"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.newsList = (result.data);
                    }
                })
            },
            //根据内容id 查询详情
            showRightMsg(id){
                console.log(id)
                const that = this
                $.ajax({
                    url: baseUrl + "/api/content/list",
                    data:{
                        "categoryId" : id,
                        "num" : "1",
                        "pageSize" : "10"
                    },
                    dataType:"json",
                    success:  function (result) {
                        that.newsRightList = result.data.list;
                    }
                })
            },
            //最新公告
            getnewText(){
                var that = this
                var id = that.newsText
                $.ajax({
                    url:baseUrl + "/api/content/list",
                    data:{
                        "categoryId" : id,
                        "num" : "1",
                        "pageSize" : "10"
                    },
                    dataType:"json",
                    success:  function (result) {
                        that.newsTextContent  = result.data.list

                    }
                })

            },
            //跳转详情页
            sendId(id){
                console.log(id)
                window.location.href=('xw_xq.html' + '?'+id)
            },
            //搜索框下拉
            serType(){
                if(this.serTypeWrap == true){
                    this.serTypeWrap =false
                }else{
                    this.serTypeWrap = true
                }
            },
            goToSer(path){
				const that=this
				console.log(that.serKwords)
				window.open(path,'_self')
				localStorage.setItem("keywords",that.serKwords)
            },

            sendSousuo(id,name){
                var that = this;
                that.serModel = name;
                that.sousuoID = id;
                console.log(that.serModel);
                console.log(that.sousuoID);


                that.serTypeWrap = false




            },
            //获取技能培训专业列表方法
            getSkillType(){

                var that = this;
                $.ajax({
                    url:  jntsUrl + "/api/mobile/findTypePerms",
                    data:{
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.bigContent = result.data;
                        console.log(result.data);

                        that.tongyongjishu = that.bigContent[0].typeList;
                        that.hangyejishu = that.bigContent[1].typeList;
                        that.jisuanjijishu = that.bigContent[2].typeList;

                        that.oneTitle = that.bigContent[0].name;
                        that.twoTitle = that.bigContent[1].name;
                        that.threeTitle = that.bigContent[2].name;

                    }
                })

                //右侧默认三条详情
                $.ajax({
                    url:  jntsUrl + "/api/mobile/getAllCurriculumlist",
                    data:{
                        "skil_type":that.bigContent[0].id,
                        "index":1,
                        "pageSize":4,
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        console.log(result.data.pageInfo.list);
                        that.threeContent1 = result.data.pageInfo.list

                    }
                })

                $.ajax({
                    url:  jntsUrl+"/api/mobile/getAllCurriculumlist",
                    data:{
                        "skil_type":that.bigContent[1].id,
                        "index":1,
                        "pageSize":4,
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        console.log(result.data.pageInfo.list);
                        that.threeContent2 = result.data.pageInfo.list
                    }
                })


                $.ajax({
                    url:  jntsUrl+"api/mobile/getAllCurriculumlist",
                    data:{
                        "skil_type":that.bigContent[2].id,
                        "index":1,
                        "pageSize":4,
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        console.log(result.data.pageInfo.list);
                        that.threeContent3 = result.data.pageInfo.list
                    }
                })



            },
            //智能客服
            sendModel(){
                kfhuifu();
            },
            listToggle(id){
                console.log(id);
                window.open('jnts_lb.html?'+ id,'_self')
            },
            //跳转视屏页
            gotoVideo(id){
                window.open('jnts_xq.html?'+ id,'_self')
            }
        },
        mounted(){
            const that = this;
            //新闻页 左侧列表
            that.getNewsleftList();
            that.getSkillType();
            that.getMask1LeftMenu();
            that.getMask1LeftContent();
            that.getnewText();
            that.nowTime = nowTimeDay;
            getDay();
            that.nowDay = nowDay;
            //新闻 默认显示id 306
            $.ajax({
                url:baseUrl + "/api/content/list",
                data:{
                    "categoryId" : "306",
                    "num" : "1",
                    "pageSize" : "10"
                },
                dataType:"json",
                success:  function (result) {
                    that.mask1right = result.data.list;


                }
            });


          //实名制查询   显示用户头像 名字
             
              if(userTok.token != null){
                   $.ajax({
                        type: 'post',
                        url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
                        contentType: 'application/json',
                        data: JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result) {
                    console.log(result);

                    if (result.data.total == 1) {
                        //用户头像
                        that.userHeaderPic = result.data.content[0].portraitPic;
                        console.log('已经实名制')
                    } else if (result.data.total == 0) {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    } else {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    }


                     }

                   })
              }


        }
    })


</script>
<!--智能客服-->
<script src="js/znkf.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {

        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
    });
</script>
<script type="text/javascript">
    setTimeout(function () {
        $('.ty_right').css('left','265px');
        $('.ty_left').css('left','0px');
    },500);
</script>
</body>
</html>