<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阳泉市总工会</title>
	<link rel="icon" href="images/picture.png" type="image/x-icon"/>
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" href="css/pagecss/zxf_page.css">
	<link rel="stylesheet" href="css/jwn.css">
	<!--全局样式-->
	<link rel="stylesheet" href="css/style.css">
	<style>
		.jwn_img{
			width: 250px;
		}
		.jwn_img img{
			width: 100%;
			height: 185px;
		}
		#kaifa{
			display: none;
		}
		.rh_list ul .my-fuwu li p{
			border: none;
			padding-left: 30px;
		}
		.rh_list ul .my-fuwu{
			display: none;
		}
	</style>
</head>
<body>
<div id="home-build" v-cloak>
	<div class="zg_box">
		<div class="zg_info">
			<div class="zg_top">

				<div class="nav_left">
					<a href="index.html"><img src="images/logo.png"></a>
				</div>
				<div class="tubiao">
					<p>{{nowTime}}</p>
					<p>{{nowDay}}</p>
				</div>
				<div class="nav_center clearfix">
					<div class="tianqi">
						<iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
								src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
					</div>
				</div>
				<div class="nav_righter" onclick="window.open('index.html','_self')">
					<i class="icon iconfont icon--fanhuishouye"></i>
					<a href="javascript:;">返回首页</a>
				</div>
			</div>
			<div class="my_gh">
				<div class="my_ghtitle clearfix">
					<div class="my_ghtitleleft">
						<i class="icon iconfont icon-shouye"></i>
						<a href="index.html">当前位置：首页></a>
						<a href="zg_index.html">服务大厅></a>
						<span>{{inPosition}}</span>
					</div>
					<div class="my_ghtitleright">
						<a href="zg_index.html"><返回服务大厅</a>
					</div>
				</div>
				<div class="my_ghcontent clearfix">
					<div class="my_ghcontentleft">
						<div class="rh_title">
							<h4>家温暖</h4>
						</div>
						<div class="rh_list">
							<ul>
								<li
									@click="rightContent(384)"
									>
									
										<p>四季送</p>
									    <i class="icon iconfont icon-jiaobiao"></i>
									
								</li>
								<ul class="my-fuwu" >
									<li class="my-union" v-for="item in maskwqleft" @click="rightContent(item.id)"
									>
										<p>{{item.name}}</p>
										<i class="icon iconfont icon-jiaobiao"></i>
									</li>
									
								</ul>
                                <!--<li-->
									<!--@click="rightContent(244)"-->
									<!--&gt;-->
									<!---->
										<!--<p>困难帮扶</p>-->
									    <!--<i class="icon iconfont icon-jiaobiao"></i>-->
									<!---->
								<!--</li>-->
								<li
									@click="rightContent(208)"
									>
									
										<p>心理关怀</p>
									    <i class="icon iconfont icon-jiaobiao"></i>
									
								</li>
								<!--<li-->
									<!--@click="rightContent(224)"-->
									<!--&gt;-->
									<!---->
										<!--<p>大病医疗</p>-->
									    <!--<i class="icon iconfont icon-jiaobiao"></i>-->
									<!---->
								<!--</li>-->
								
							</ul>
						</div>
					</div>

					<div class="toggWrap">

						<div class="my_ghcontentright" style="margin-left: 20px">
						<div class="jwn_box clearfix" v-for="(tit,index) in mask1right" @click="gotoContent(tit.contentId)">
							<div class="jwn_img">
								<img :src="tit.thumb">
							</div>
							<div class="jwn_text clearfix">
								<h4>{{tit.title}}</h4>
								<p>
									{{tit.description}}
								</p>
								<span>发布时间：{{tit.inputdate}}</span>
								<i>发布者：{{tit.author}}</i>
							</div>

						</div>
                        <div class="jwn_box clearfix" id="kaifa">
                        	该模块正在开发中，敬请期待！
                        </div>


						<div class="jwn_list">
							<div class="zxf_pagediv"></div>
						</div>

					</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!--底部-->
	<div id="footer"></div>
	<!--右侧功能栏-->
	<div class="slide">
		<ul>
			<li class="open-hyzx">
				<i class="icon iconfont icon-member"></i>
				<a>{{memberCenter}}</a>
			</li>
			<li>
				<i class="icon iconfont icon-xiaoxi"></i><a href="##">消息通知</a>
				<div class="tz-bage">
					<span class="bage">10</span>
				</div>
			</li>
			<li class="kefu"><i class="icon iconfont icon-kefu1 "></i><a href="javascript:;">智能客服</a></li>
			<li><i class="icon iconfont icon-xinlang"></i><a href="javascript:;">微博</a></li>
			<li><i class="icon iconfont icon-weixin2"></i><a href="javascript:;">微信</a></li>
			<li><i class="icon iconfont icon-APP"></i><a href="javascript:;">APP</a></li>
			<li id="top"><i class="icon iconfont icon-fanhuidingbu-"></i><a href="javascript:;">TOP</a></li>
		</ul>
		<div class="sina">
			<a href="">
				<img src="images/sina.png" width="100px" height="100px">
			</a>
			<p>新浪微博二维码</p>
		</div>
		<div class="ewm">
			<a href="">
				<img src="images/erweima.jpg" width="100px" height="100px">
			</a>
			<p>工会微信公众号</p>
		</div>
		<div class="exit">
			<img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>
			<p class="phoneUser">{{userPhone}}</p>
			<button @click="clear()">退出</button>
		</div>
		<div class="appDoload">
			<div class="ang">
				<p>App下载</p>
				<img src="images/android.jpg" alt="App下载">
			</div>
		</div>
	</div>
	<!--智能客服-->
	<div class="customer-service" >
		<div class="kf_box">
			<div class="kf clearfix">
				<div class="kf_left">
					<a href=""><img src="images/gh_x.png" width="23px" height="23px"></a>
					<span>工会智能小K</span>
				</div>
				<div class="kf_right">
					<i class="icon iconfont icon-xiajiantou"></i>
				</div>
			</div>
		</div>
		<div class="chat_box">
			<div id="chat" class="chat clearfix">
				<div class="chat_left">
					<a href=""><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
					<span>客服</span>
					<p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
				</div>

			</div>
			<div class="down"></div>
			<div class="shuru">
				<input type="text" placeholder="请输入文字..."  v-model="userInp" autocomplete="off"/>
			</div>
			<div class="send clearfix">
				<div class="send_left">
					<i class="icon iconfont icon-smiling" ></i>
				</div>
				<div class="send_right">
					<button type="button" @click="sendModel">发送</button>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/zxf_page.js"></script>

<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/usertoken.js"></script>
<script>
    var vm = new Vue({
        el:'#home-build',
        data:{
            mask1left:[],
            mask1right:[],
            isactive:false,
            isPage:false,
            userInp:'',
            userPhone:'',
            addStyle:false,
            memberCenter:'',
            justNow:'',
            pageItemId:'',
            pageContentId:'',
            // leftlist:[
            //     {name:'四季送',id:'384'},
            //     {name:'困难帮扶',id:'224'},
            //     {name:'心理关怀',id:'208'},
            //     {name:'大病医疗',id:'224'},

            // ],
            nowTime:'',
            nowDay:'',
            userHeaderPic:'',
            Wnum:'',
            zongYenum:'',
            maskwqleft:[],
            maskwqleft2:[
                {name:'春送岗位',id:'384'},
                {name:'夏送清凉',id:'385'},
                {name:'金秋助学',id:'386'},
                {name:'冬送温暖',id:'388'},     
            ],
            inPosition:'春送岗位'

        },
        methods:{
            //左侧选项卡
            getMask1LeftMenu(){
                const that = this;

                        that.mask1left = that.leftlist;

            },
            //右侧信息
            getMask1LeftContent(){
                const that = this
                $.ajax({
                    url:baseUrl + "/api/category/list",
                    data:{
                        parentId:"384"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                    	// console.log(result.data)
                        that.mask1right = result.data;

                    }
                })
            },
           // 春夏秋冬
            getWqleft(){
            	const that = this
            	 that.maskwqleft = that.maskwqleft2;
            },
            //右侧选项卡根据id改变内容
            rightContent(id){
            	console.log(id)
                const that = this;
                if(id=='384'){
                    that.inPosition='春送岗位'
                }else if(id=='385'){
                    that.inPosition='夏送清凉'
				}else if(id=='386'){
                    that.inPosition='金秋助学'
                }else if(id=='388'){
                    that.inPosition='冬送温暖'
                }else if(id=='208'){
                    that.inPosition='心理关怀'
                }
                $.ajax({
                    url: baseUrl + "/api/content/list",
                    data:{
                        "categoryId" : id,
                        "num" : "1",
                        "pageSize" : "10"
                    },
                    dataType:"json",
                    success:  function (result) {
                    	console.log(result);
                        that.mask1right = result.data.list;
                        that.Wnum=Math.ceil(result.data.total/10)
                       

                        console.log(that.Wnum)
                        if (result.data.list ==  "") {
                        	console.log("困难帮扶成功");
                        	$(".jwn_list").hide();
                        	$("#kaifa").show();
                        }else{
                        	$(".jwn_list").show();
                        	$("#kaifa").hide();
                        }
                        //恢复页码为1
                        $(".zxf_pagediv").createPage({
                             "pageNum": that.Wnum,
                              current: 1,
                            backfun: function(e) {
                                that.pageId = e.current;
                                 console.log(e)
                                $.ajax({		
                                    url: baseUrl + "/api/content/list",
                                    data:{
                                        "categoryId" : id,
                                        "num" : that.pageId,
                                        "pageSize" : "10"
                                    },
                                    dataType:"json",
                                    success:  function (result) {
                                        that.mask1right = result.data.list;

                                    }
                                })


                            }
                        });



                    }
                })



            },
            //智能客服
            sendModel(){

                kfhuifu();
            },
            clear(){
            	  sessionStorage.clear();
            	  window.open("denglu.html","_self")
            },
            
			//跳转详情页
            gotoContent(id){
            	console.log(id)
				window.location.href=('xw_xq.html'+'?'+id)

			}




        },
        mounted(){
            var that = this;
            that.getMask1LeftMenu();
            that.getMask1LeftContent();
            that.getWqleft()
            that.nowTime = nowTimeDay

            getDay()
            that.nowDay = nowDay

            $.ajax({
                url: baseUrl + "/api/content/list",
                data:{
                    "categoryId" : 384,
                    "num" : "1",
                    "pageSize" : "4"
                },
                dataType:"json",
                success:  function (result) {
                    that.mask1right = result.data.list;
                    console.log(result)
                     that.Wnum=Math.ceil(result.data.total/10)
                     $(".zxf_pagediv").createPage({
                        pageNum: that.Wnum,
                        current: 1,
                        backfun: function(e) {
                           that.pageId = e.current;
                           $.ajax({
                               url: baseUrl + "/api/content/list",
                               data:{
                                   "categoryId" : "222",
                                   "num" : that.pageId,
                                   "pageSize" : "4"
                               },
                                dataType:"json",
                                success:  function (result) {
                                   that.mask1right = result.data.list;

                                }
                           })


                            }
                     });

                }
            })



          

			//获取当前时间
            this.justNow = nowTime
            console.log(this.justNow)



          //实名制查询   显示用户头像 名字
             
              if(userTok.token != null){
                   $.ajax({
                        type: 'post',
                        url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
                        contentType: 'application/json',
                        data: JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result) {
                    console.log(result);

                    if (result.data.total == 1) {
                        //用户头像
                        that.userHeaderPic = result.data.content[0].portraitPic;
                        console.log('已经实名制')
                    } else if (result.data.total == 0) {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    } else {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    }


                     }

                   })
              }



        }
    })
</script>
<!--智能客服-->
<script src="js/znkf.js"></script>

<script>
    $(function(){
        function  addactive(classdom,classname) {
            $(classdom).click(function () {
                $(classdom).removeClass(classname);
                $(this).addClass(classname)
            });
        }

        addactive('.jwn_list ul li','active')


        var r = window.location.search;
        r = r.substring(1);


    })


</script>
<script type="text/javascript">
	$(function(){
		$(".rh_list ul li:first-child").addClass("active");
		$(".rh_list ul li").on("click",function(){
		$(this).addClass("active").siblings().removeClass("active");
		})
		
		
	})
	$(".rh_list>ul>li:nth-child(1)").on("click",function(){
		$(".my-fuwu").toggle();
	})

</script>
</html>