<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>阳泉市总工会</title>
	<link rel="icon" href="images/picture.png" type="image/x-icon"/>
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/iconfont.css">
	<link rel="stylesheet" href="css/grrh.css">
	<!--全局样式-->
	<link rel="stylesheet" href="css/style.css">
	<style type="text/css">
	   .sp_list ul{
	   	width: 620px;
	   	margin: 0 auto;
	   }
		.sp_list ul li {
		    float: left;
		    width: 100px;
		    /*margin: 0 35px;*/
		}
		#union-name,#Nametwo{
			width: 94%;
			margin: 0 auto;
			margin-top: 10px;
		}
        .more{
        	color: red;
        	text-align: center;
        	margin-top: 10px;
        	cursor: pointer;
        }
	   .sq_content span{
		   float: left;
		   width: 200px;
		   text-align: right;
		   margin-top: 10px;
		   margin-right: 30px;
		   font-size: 16px;
	   }
		.ifShenHe{
			font-size: 26px;
			text-align: center;
			margin-top: 180px;
			color: #db2c28;
		}


	</style>
</head>
<body>
<div id="nameselect" v-cloak>
	<div class="zg_box">
		<div class="zg_info">
			<div class="zg_top">
				<div class="nav_left">
					<a href="index.html"><img src="images/logo.png"></a>
				</div>
				<div class="tubiao">
					<p>{{nowTime}}</p>
					<p>{{nowDay}}</p>
				</div>
				<div class="nav_center clearfix">
					<div class="tianqi">
						<iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
								src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
					</div>
				</div>
				<div class="nav_righter" onclick="window.open('index.html','_self')">
					<i class="icon iconfont icon--fanhuishouye"></i>
					<a href="javascript:;">返回首页</a>
				</div>
			</div>
			<div class="my_gh">
				<div class="my_ghtitle clearfix">
					<div class="my_ghtitleleft">
						<i class="icon iconfont icon-shouye"></i>
						<a href="index.html">当前位置：首页></a>
						<a href="zg_index.html">服务大厅></a>
						<span>{{inPosition}}</span>
					</div>
					<div class="my_ghtitleright">
						<a href="zg_index.html"><返回服务大厅</a>
					</div>
				</div>
				<div class="my_ghcontent clearfix">
					<div class="my_ghcontentleft">
						<div class="rh_title">
							<h4>我要转会</h4>
						</div>
						<div class="rh_list">
							<ul>
								<li class="work-guide" @click="turnPosition1()">
									<p class="bordred">办理指南</p>
									<i class="icon iconfont icon-jiaobiao" style="color: rgb(219, 44, 40);"></i>
								</li>
								<li class="work-query" @click="turnPosition2()">
									<p>办理流程</p>
									<i class="icon iconfont icon-jiaobiao"></i>
								</li>

								<li class="work-online" @click="wq_tijiao">
									<p>在线办理</p>
									<i class="icon iconfont icon-jiaobiao"></i>
								</li>
								<li class="work-process" @click="zhCha">
									<p>进度查询</p>
									<i class="icon iconfont icon-jiaobiao"></i>
								</li>

							</ul>
						</div>
					</div>
					<div class="toggWrap clearfix">
						<!--办理指南-->
						<div class="my_ghcontentright tab-togg on">
							<div class="rh_text" style="margin-top: 30px;">
								<h4>我要转会</h4>
								<span>转会办理：</span>
								<p>请按个人转会完善相应信息申请，我们将及时与您取得联系</p>
								<p>
									坚持职工劳动（工作）关系在哪里、会员组织关系就在哪里、会员组织关系随劳动（工作）关系流动的原则。会员劳动（工作）关系发生变化后，由调出单位工会在《工会会员证》“组织关系接转”栏目中填写有关内容，并加盖公章。会员的《工会会员登记表》随个人档案一并移交。会员关系由凭“介绍信”接转改为凭“会员证”接转。
								</p>
							</div>

						</div>
						<!--进度查询-->
						<div class="sp_content tab-togg" style="margin-top: 50px;">
							<div class="sp_title">
								<h4>审批状态</h4>
							</div>
                            <div class="znawu_box">
							   	 <div class="zanwu_img">
							   	 	<img src="images/zanwu.png">
							   	 </div>
							   	 <p>暂无数据</p>
							 </div>
							<div class="xiexin_content">
							         <ul>
								         <li v-for="(item,index) in jinduList" :key="index" @click="jinduTan(index)">
									          <div class="xiexin_bg" >
										           <h4 v-if="item.status == 2" style="background-color: #09f709;">已完成</h4>
										           <h4 v-else-if="item.status == 5" style="background-color: #db2c28;">被拒绝</h4>
										           <h4 v-else style="background-color: #cccc33;">进行中</h4>
									          </div>
									            <div class="xiexin_text clearfix">
									          	   <a>{{newName}}转会申请书</a>
										           <span>发布日期：{{item.submitTime}}</span>
									          </div>
								         </li>      
							         </ul>
						        </div>
						</div>
						<!--在线办理-->
						<div>
							<div class="sq tab-togg">
							  <div class="wq_box">
								<div class="sq_list">
									<h4>我的转会申请表</h4>
								</div>
								<form action="" method="">
									<div class="sq_content">
										<span><i>*</i>原所在工会名称：</span>
										<input type="text" class="exLaborunName" disabled="disabled"
											   name="text"  v-model="exLaborunName" autocomplete="off"/>
									</div>
									<div class="sq_content">
										<span><i>*</i>原所在单位：</span>
										<input type="text" disabled="disabled"
											   class="exLaborunName" name="text"  v-model="exUnitName" autocomplete="off"/>

									</div>
									<div class="sq_content">
										<span><i>*</i>转入工会：</span>
										<input type="text" placeholder="请选择工会名称" name="text"
											   @click="showList"  class="unitName" v-model="unionItem" autocomplete="off"/>
									</div>
									<div class="sq_content">
										<span><i>*</i>转入单位：</span>
										<input type="text" placeholder="请选择转入单位" name="text"
											   @click="showDanwei" v-model="suoShuItem" autocomplete="off"/>
									</div>
									<div class="anniu">
										<button type="button" class="tijiao active" @click="addTi()">提交</button>
									</div>
								</form>
							   </div>
							   <div class="ifShenHe">
								   <h1>您的转会申请正在审核,请点击进度查询查看具体进度!</h1>
							   </div>
							</div>
							
						</div>


						<!--办理流程-->
						<div class="jindu-query tab-togg">
							<div>
								<img src="images/liucheng/zh-lc.jpg" alt="" width="100%">
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- 内容 -->
		</div>
	<!--模态框-->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	 aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="height: 100%; overflow: hidden">
		<div class="modal-content" >
			<div class="modal-header">

				<div class="tishi_title clearfix">
					<span>温馨提示</span>
					<button type="button" class="close"
							data-dismiss="modal" aria-hidden="true" style="font-size: 30px">
						&times;
					</button>
				</div>
		<div class="tishi">

		<div class="tishi_box">
			<div class="mm_cz">
				<i class="icon iconfont icon-zhuyi"></i>
				<span>您尚未进行实名认证！</span>
			</div>
			<div class="dl_anniu" style="margin-bottom: 55px;text-align: center;" >
				<button class="mLogin" @click="goToAttest">立即认证</button>
				<button class="mLogin formYes" @click="clickUpdate">确定</button>
			</div>
		</div>
	</div>
			</div>

		</div>
	</div>
	
</div>
	</div>
	<div class="shu-union" v-show="isShow">
		<div class="shu-unionnei">
			<div class="union-title">
			<p >选择信息</p>
			<span class="cha" @click="closeCha()"></span>

		</div>
		<div class="union-content" style="display: block;" >
			<div class="content-small-title">
					<input class="p" type="" disabled="disabled" class="val1" v-model="MOhuyunion" name="" value="选择工会" autocomplete="off">

				<input type="text" id="sousuo" placeholder="请输入工会名称"
					   v-model="MOhuyunion" autocomplete="off">
				<button @click="btnSousuo()">搜索</button>
			</div>
			<ul id="union-name" style="overflow: auto; height:70%;">
				<li v-for="(item,index) in unionName"
					 :title="item.laborun_name"
					 :key="index" @click="hideList(item.laborun_code,item.laborun_name)">
					 {{item.laborun_name}}
				</li>





			</ul>
			<p @click="loadMore" class="more"  v-show="isLoad">
					加载更多
				   <i class=" iconfont icon-shuangxiajiantou-" style="color: red;font-size: 12px"></i>
			</p>
		</div>
		</div>
	</div>
	<div class="shu-union" v-show="isShow2">
		<div class="shu-unionnei">
			<div class="union-title">
				<p>选择信息</p>
				<span class="cha" @click="closeCha2()"></span>
			</div>

			<div class="union-content" >

				<div class="content-small-title">
					<input class="p" type="" disabled="disabled" v-model="MOhuyDan" name="" value="选择单位" autocomplete="off">
					<input type="text" id="sercer"v-model="MOhuyDan"  placeholder="请输入工会名称" autocomplete="off">
				</div>
				<ul id="Nametwo" style="overflow: auto; height: 70%;" >
				<li v-for="(item,index) in suoShuUnit"
					 :title="item.name"
					 :key="index" @click="RemoveList">
					 {{item.name}}
				</li>

				</ul>
				<p @click="load" class="more"  v-show="iLoad">
						加载更多
						<i class=" iconfont icon-shuangxiajiantou-" style="color: red;font-size: 12px"></i>

					</p>
			</div>
		</div>
	</div>
	<!--底部-->
	<div id="footer"></div>
	<!--右侧功能栏-->
	<div class="slide">
		<ul>
			<li class="open-hyzx">
				<i class="icon iconfont icon-member"></i>
				<a>{{membercenter}}</a>
			</li>
			<li>
				<i class="icon iconfont icon-xiaoxi"></i><a href="##">消息通知</a>
				<div class="tz-bage">
					<span class="bage">10</span>
				</div>
			</li>
			<li class="kefu"><i class="icon iconfont icon-kefu1 "></i><a href="##">智能客服</a></li>
			<li><i class="icon iconfont icon-xinlang"></i><a href="##">微博</a></li>
			<li><i class="icon iconfont icon-weixin2"></i><a href="##">微信</a></li>
			<li><i class="icon iconfont icon-APP"></i><a href="##">APP</a></li>
			<li id="top"><i class="icon iconfont icon-fanhuidingbu-"></i><a href="##">TOP</a></li>
		</ul>
		<div class="sina">

			<img src="images/sina.png" width="100px" height="100px">
			</a>
			<p>新浪微博二维码</p>
		</div>
		<div class="ewm">

			<img src="images/erweima.jpg" width="100px" height="100px">
			</a>
			<p>工会微信公众号</p>
		</div>
		<div class="exit">
			<img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>

			<p class="phoneUser">{{userPhone}}</p>
			<button @click="clear()">退出</button>
		</div>
		<div class="appDoload">
			<div class="ang">
				<p>App下载</p>
				<img src="images/android.jpg" alt="App下载">
			</div>
		</div>
	</div>
	<!--智能客服-->
	<div class="customer-service" >
		<div class="kf_box">
			<div class="kf clearfix">
				<div class="kf_left">
					<a href=""><img src="images/gh_x.png" width="23px" height="23px"></a>
					<span>工会智能小K</span>
				</div>
				<div class="kf_right">
					<i class="icon iconfont icon-xiajiantou"></i>
				</div>
			</div>
		</div>
		<div class="chat_box">
			<div id="chat" class="chat clearfix">
				<div class="chat_left">
					<a href=""><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
					<span>客服</span>
					<!--<i>2019-3-22  12:12</i>-->
					<p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
				</div>



			</div>
			<div class="down"></div>
			<div class="shuru">
				<input type="text" placeholder="请输入文字..."  v-model="userinp" autocomplete="off"/>
			</div>
			<div class="send clearfix">
				<div class="send_left">
					<i class="icon iconfont icon-smiling" ></i>
				</div>
				<div class="send_right">
					<button type="button" @click="sendModel">发送</button>
				</div>
			</div>
		</div>
	</div>

</div>

</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	$(function () {

        function tabtogg(clicClass,togclass,clica,clici) {
            $(clicClass).click(function () {
                $('.tab-togg').removeClass('on');
                $(togclass).addClass('on');
                var hei = $(".toggWrap").height();
                $('.my_ghcontent').css('height',hei);
                $('.rh_list li p').removeClass('bordred');
                $(clica).addClass('bordred');
                $('.rh_list li i').css('color','#000');
                $(clici).css('color','#db2c28')
            })

        }
        tabtogg('.work-guide','.my_ghcontentright','.work-guide p',' .work-guide i')
        tabtogg('.work-process','.sp_content  ','.work-process p',' .work-process i')
        tabtogg('.work-online','.sq','.work-online p',' .work-online i')
        tabtogg('.work-query','.jindu-query','.work-query p',' .work-query i')

    })
</script>
<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/usertoken.js"></script>
<script>
    var vm = new Vue({
        el: "#nameselect",
        data: {
            isactive:false,
            userinp:'',
            userPhone:'',
            membercenter:'',
            exLaborunName:'',    //原所在工会名称
            exUnitName:'', 		 //原属单位
            unitName:'',         //转入单位
            laborunName:'',      //转入工会
            unionList:'',
            suoShuUnit:[],
            isShow:false,
            isShow2:false,
             iLoad:false,
            isLoad:false,
            unionName:[],
            unionDanWei:[],
            unioinNum:20,
            unionUNM:20,


            todayTime:'',
            todayDay:'',
            MOhuyunion:'',
            unionItem:'',
            suoShuItem:'',
            MOhuyDan:'',
            nameCode:'',
            nowTime:'',
  			nowDay:'',
  			jinduList :[],
            userHeaderPic:'',
			newName:'',
            inPosition:'办理指南'
        },
        methods:{
 
            sendModel(){
                kfhuifu();
			},
			//去认证
			goToAttest(){
				if ($(".mLogin").html()=="立即认证") {
					window.open("hyzx.html");
				}else if ($(".mLogin").html()=="登录") {
					window.open("denglu.html","_self");
				}
			},
            clickUpdate(){
                location.reload();
			},
			closeCha(){
				const that=this;
            	that.isShow = false;
            	that.unionItem='';
			},
            // 点击在线办理查询是否登录
            wq_tijiao(){
                  this.inPosition='在线办理'
                  if (userTok.token == null) {
            	       // alert("请登录")
            	       $('#myModal').modal();
            	       $(".close").hide();
				       $('.mm_cz>span').html("该业务需要您登录之后才能操作！");
				       $(".dl_anniu").hide();
				       setTimeout(function(){
				       	window.location.href="denglu.html";
				       },2000)
                    }
            },
            closeCha2(){
                const that=this;
            	that.isShow2 = false;
            	that.suoShuItem='';
            },
			 //选择工会
			showList(){
				const that = this;
                that.isShow = true;
                 
                $.ajax({
                    type:"post",
                    url:unionUrl + "/passLaborweb/api/laborun/union/getLaborunListJsonPage",
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify({
                    	"laborunName":that.laborun_name,
                    	"page":"1",
                    	"size":"20",
						"token":userTok.token
                    }),
                    async: false,
                    /*dataType:"json",*/
                    success:  function (result) {

                    	console.log(result.data.content);

                        that.unionName=result.data.content;
                        $("#union-name").scroll(function(){
                            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
                            var nScrollTop = 0;   //滚动到的当前位置
                            var nDivHight = $("#union-name").height();

                            nScrollHight = $(this)[0].scrollHeight;
                            nScrollTop = $(this)[0].scrollTop;

                            if(nScrollTop + nDivHight >= nScrollHight){
                                //显示加载更多
                                that.isLoad = true
							}else{
                                //隐藏加载更多
                                that.isLoad = false
							}
                        });
                    }
                });
			},
            //选择单位
            showDanwei(){
            	const that = this;
                that.isShow2 = true;

                $.ajax({
                    type:"post",
                    url:unionUrl + "/passLaborweb/api/laborun/enterprisesUnit/getUnitListJsonPage",
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify({
                        "page": 1,
                        "size": 30,

					    "laborunCode":that.nameCode,
						"token":userTok.token
                    }),
                    async: false,
                    success:  function (result) {
						console.log(result.data);
					    console.log(that.unionItem);
						
						that.suoShuUnit=result.data.content;
						$("#Nametwo").scroll(function(){
                            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
                            var nScrollTop = 0;   //滚动到的当前位置
                            var nDivHight = $("#Nametwo").height();

                            nScrollHight = $(this)[0].scrollHeight;
                            console.log(nScrollHight);
                            nScrollTop = $(this)[0].scrollTop;
                            console.log(nScrollTop);
                            if(nScrollTop + nDivHight >= nScrollHight){
                                //显示加载更多
                                that.iLoad = true
							}else{
                                //隐藏加载更多
                                that.iLoad = false
							}
                        });

                    }
                });
			},
            //获取当前li 的文本
            hideList(code,name){
            	// alert(111);
                this.unionItem =  name;
                console.log(name);
                this.isShow = false;
                console.log(code);
                this.nameCode=code;

			},
			RemoveList(e){
                this.suoShuItem =  e.target.innerText;
                this.isShow2 = false;
            },
            // 工会搜索
			btnSousuo(){
                const that = this;
                that.isShow = true;

                $.ajax({
                    type:"post",
                    url:unionUrl + "/passLaborweb/api/laborun/union/getLaborunListJsonPage",
                    contentType:'application/json;charset=UTF-8',
                    data:JSON.stringify({
                        "laborunName":that.MOhuyunion,
                        "page":"1",
                        "size":"20",
                        "token":userTok.token
                    }),
                    async: false,

                    success:  function (result) {

                        console.log(result.data.content);

                        that.unionName=result.data.content;
                        $("#union-name").scroll(function(){
                            var nScrollHight = 0; //滚动距离总长(注意不是滚动条的长度)
                            var nScrollTop = 0;   //滚动到的当前位置
                            var nDivHight = $("#union-name").height();

                            nScrollHight = $(this)[0].scrollHeight;
                            nScrollTop = $(this)[0].scrollTop;

                            if(nScrollTop + nDivHight >= nScrollHight){
                                //显示加载更多
                                that.isLoad = true
                            }else{
                                //隐藏加载更多
                                that.isLoad = false
                            }
                        });
                    }
                });

			},
			//加载更多工会名称
            loadMore(){
                var that = this;
                that.isLoad=false;
                that.unioinNum+=20;
                 $.ajax({
                    type:"post",
					url:unionUrl + "/passLaborweb/api/laborun/union/getLaborunListJsonPage",
                    contentType:'application/json;charset=UTF-8',
                     data:JSON.stringify({
                         "laborunName":that.unitName,
                         "page":"1",
                         "size":that.unioinNum,
                         "token":userTok.token
                     }),
                    async: true,
                    dataType:"json",
                    success:  function (result) {
						console.log(result.data.content);
						// console.log(result);
						that.unionName=result.data.content;

                    }
                });
			},
			load(){

                var that = this;
                 that.iLoad=false;
                that.unionUNM+=20;
                 $.ajax({
                    type:"post",
                    url:unionUrl + "/passLaborweb/api/laborun/enterprisesUnit/getUnitListPage",
                    data:{
                        "unitName":that.unitName,
						"page":1,
						"size":that.unionUNM,
                    },
                    async: true,
                    dataType:"json",
                    success:  function (result) {
						console.log(result.data.content);
						that.unionDanWei=result.data.content;

                    }
                });
			},
            //我要转会
            addTi(){
				var that = this;

                $.ajax({
                    type:'post',
                    url: unionUrl + "/passLaborweb/api/laborun/a10BaseInfo/appTransfer",
                    async:false,
                    contentType:'application/json;charset=UTF-8',
                    dataType: "json",
                    data:JSON.stringify({
                        "exLaborunName":that.exLaborunName,   	//原所在工会
                        "exUnitName": that.exUnitName,			 //原所在单位
                        "unitName":  that.suoShuItem,     		//转入单位
                        "laborunName":that.unionItem,			 //转入工会
                        "source":"3",
                        "token": userTok.token,
                    }),
                    success: function (result) {

                        console.log(result);  //成功
						if(result.code === "30001"){
						//1是审批中，2审批通过，5是拒绝 30000已经提交申请转会
							$('#myModal').modal();
						}else if(result.code === "30000"){
                            $('#myModal').modal();
                            $('.mm_cz>span').html(result.msg);
                            $(".mLogin").hide();
                            $('.formYes').show()

						} else {
							$('#myModal').modal();
							$('.mm_cz>span').html(result.msg);
                            $(".mLogin").hide();
                            $('.formYes').show()

						}


                    }
                })
			},
			//入会状态查询
			Getdu(){
			    var that = this;
                 $.ajax({
                    type:'post',
                    url: unionUrl + "/passLaborweb/api/laborun/a10BaseInfo/queryMembershipStatus",
                    contentType: 'application/json',
                    data:JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result){

                         console.log( result);
						 var len = result.data.length;
                         //回显工会
                         if (result.data.status == 0) {

								$('.exLaborunName').attr('disabled','disabled');
								that.exLaborunName = result.data.laborunName;
								that.exUnitName = result.data.unitName;
                            }else if (result.data.status== -1){
                            	 $('.sq_content input').attr('disabled',false);
                                 $('.anniu button').show();
                                 that.unionList = '';
                                 that.suoShuUnit = '';
                            }


                    }
              })
			},

			zhCha(){
				  var that = this;
                  this.inPosition='进度查询'
                 $.ajax({
                    type:'post',
                    url: unionUrl + "/passLaborweb/api/laborun/a10BaseInfo/queryTransferStatus",
                    contentType: 'application/json',
                    data:JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result){

                        console.log(result);
                         if (result.data==0) {
                        	$(".xiexin_content").hide();
                        	$(".znawu_box").show();
                        }else{
                          $(".xiexin_content").show();
                          $(".znawu_box").hide();

                        }
                        that.jinduList =result.data;
                        var index=result.data.length-1;
                         if (result.data[index].status==1) {
                         	// console.log("审批中");
                         	$(".wq_box").hide();
                         	$(".ifShenHe").show();

                         }else if (result.data[index].status==2) {
                         	// console.log("审批通过")
                         	$(".wq_box").show();
                         	$(".ifShenHe").hide();
                         }else if (result.data[index].status==5) {
                         	// console.log("审批拒绝")
                         	$(".wq_box").show();
                         	$(".ifShenHe").hide();
                         }else{
                         	// console.log("其他")
                         	$(".wq_box").show();
                         	$(".ifShenHe").hide();
                         }

						for(var i =0;i<that.jinduList.length;i++){

                            if(that.jinduList[i].status == 2){

                                that.jinduList[i].statusText = '已完成';

							}else if(that.jinduList[i].status != 2){

                                that.jinduList[i].statusText = '进行中';
                            }



						}




                    }
              })

			},
            turnPosition1(){
                this.inPosition='办理指南'
            },
            turnPosition2(){
                this.inPosition='办理流程'
            },
			jinduTan(id,status){
             var that=this;
             console.log(id);
              window.open("wyzh_info.html" + '?'+id,"_self");
            },
			
        },
        mounted(){

            const that = this;
            that.Getdu();
            that.zhCha();
   			that.nowTime = nowTimeDay;

            getDay()
            that.nowDay = nowDay
                if (userTok.token==null) {
            	$(".xiexin_content").hide();
                $(".znawu_box").show();
            }
//实名制查询   显示用户头像 名字
             
              if(userTok.token != null){
                   $.ajax({
                        type: 'post',
                        url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
                        contentType: 'application/json',
                        data: JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result) {
                    console.log(result);

                    if (result.data.total == 1) {
                        //用户头像
                        that.userHeaderPic = result.data.content[0].portraitPic;
                        console.log('已经实名制')
                    } else if (result.data.total == 0) {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    } else {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    }


                     }

                   })
              }

        }



    })


</script>
<!--智能客服-->
<script src="js/znkf.js"></script>
</html>