<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>阳泉市总工会</title>
    <link rel="icon" href="images/picture.png" type="image/x-icon"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/zg_index.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css"/>
    <link rel="stylesheet" href="https://a.amap.com/amap-ui/static/1.0/ui/misc/MarkerList/examples/pagination.css">

    <script type="text/javascript"
            src="https://webapi.amap.com/maps?v=1.4.13&key=	c58795894e9041de8855c90c5ceff3d0&plugin=AMap.AdvancedInfoWindow"></script>
    <script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script type="text/javascript" src="https://cache.amap.com/lbs/static/addToolbar.js"></script>
    <!--智能客服样式-->
    <link rel="stylesheet" href="css/znkf.css">
    <!--全局样式-->
    <link rel="stylesheet" href="css/style.css">
    <style>
        .info-title {
            color: white;
            font-size: 14px;
            background-color: #25A5F7;
            line-height: 26px;
            padding: 0px 0 0 6px;
            font-weight: lighter;
            letter-spacing: 1px
        }

        .info-content {
            font: 12px Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial;
            padding: 4px;
            color: #666666;
            line-height: 23px;
        }

        .info-content img {
            float: left;
            margin: 3px;
        }

        .amap-info-combo .keyword-input{
            height: 25px;
            border-radius: 2px 0 0 2px;
        }
    </style>
</head>
<body>
<div id="nameselect" v-cloak>
    <div class="zg_box">
        <div class="zg_info">
            <div class="zg_top">
                <div class="nav_left">
                    <a href="index.html"><img src="images/logo.png"></a>
                </div>
                <div class="tubiao">
                    <p>{{nowTime}}</p>
                    <p>{{nowDay}}</p>
                </div>
                <div class="nav_center clearfix">
                    <div class="tianqi">
                        <iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
                                src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
                    </div>
                </div>
                <div class="nav_righter" onclick="window.open('index.html','_self')">
                    <i class="icon iconfont icon--fanhuishouye"></i>
                    <a href="index.html">返回首页</a>
                </div>
            </div>
            <!-- 内容 -->
            <div class="gh-fw">
                <div class="zg_ul_yi zg_ul_li">
                    <span></span>
                    <p><a href="##">职工之家</a></p>
                    <i></i>
                    <p class="zgzj">工会基础服务</p>
                </div>
                <div class="zg_ul" style="height:260px">
                    <div class="rh hall">
                        <a href="grrh.html">
                            <span></span>
                            <p>个人入会</p>
                        </a>
                    </div>
                    <div class="zh hall">
                        <a href="wyzh.html">
                            <span></span>
                            <p>我要转会</p>
                        </a>
                    </div>
                    <div class="jh hall">
                        <a href="dwjh.html">
                            <span></span>
                            <p>单位建会</p>
                        </a>
                    </div>
                    <div class="bl hall">
                        <a href="frzg.html">
                            <span></span>
                            <p>法人资格办理</p>
                        </a>
                    </div>
                </div>
            </div>
            <div style="padding:15px">
                <img src="images/fw_banner1.png" alt="" width="100%">
            </div>
            <div class="gh-fw">
                <div class="zg_ul_er zg_ul_li2">
                    <span></span>
                    <p><a href="jwn.html">家温暖</a></p>
                    <i></i>
                    <p class="zgzj">工会职工保障服务</p>
                </div>
                <div class="zg_ul" style="height:250px">

                    <div class="gw hall">

                            <span></span>
                            <p>四季送</p>

                    </div>

                    <div class="yl hall">

                            <span></span>
                            <p>困难帮扶</p>

                    </div>
                    <div class="hz hall">
                        <a href="jwn.html">
                            <span></span>
                            <p>心理关怀</p>
                        </a>
                    </div>
                    <div class="bf hall">
                            <span></span>
                            <p>大病医疗</p>
                    </div>
                </div>
            </div>
          <!--  <div class="gh-fw">
                <div class="zg_ul_san zg_ul_li">
                    <span></span>
                    <p><a href="homeweihu.html">家维权</a></p>
                    <i></i>
                    <p class="zgzj">工会职工保障服务</p>
                </div>
                <div class="zg_ul" style="height:260px;">
                    &lt;!&ndash; <div class="zhe">正在开发中...</div> &ndash;&gt;
                    <div class="zn hall">
                        <a href="homeweihu.html">
                            <span></span>
                            <p>维权指南</p>
                        </a>
                    </div>
                    <div class="fx hall">
                        <a href="homeweihu.html">
                            <span></span>
                            <p>案例分析</p>
                        </a>
                    </div>
                    <div class="fw hall">
                        <a href="homeweihu.html">
                            <span></span>
                            <p>律师服务</p>
                        </a>
                    </div>
                    <div class="yz hall">
                        <a href="homeweihu.html">
                            <span></span>
                            <p>法律援助</p>
                        </a>
                    </div>
                </div>
            </div>-->
            <div class="gh-fw">
                <div class="zg_ul_si zg_ul_li">
                    <span></span>
                    <p><a href="jjs.html">家建设</a></p>
                    <i></i>
                    <p class="zgzj">工会职工保障服务</p>
                </div>
                <div class="zg_ul" style="height:260px">
                    <div class="ng hall">
                        <a href="jjs.html">
                            <span></span>
                            <p>幸福女工</p>
                        </a>
                    </div>
                    <div class="ph hall">
                        <a href="jjs.html">
                            <span></span>
                            <p>普惠服务</p>
                        </a>
                    </div>
                    <div class="nm hall">
                        <a href="jjs.html">
                            <span></span>
                            <p>农民工服务</p>
                        </a>
                    </div>
                    <div class="xx hall">
                        <a href="jjs.html">
                            <span></span>
                            <p>主席信箱</p>
                        </a>
                    </div>

                </div>
            </div>
            <div style="padding:15px; cursor:pointer; " onclick="window.open('http://www.dzzgsw.com')">
                <img src="images/fw_banner2.png" alt="" width="100%">
            </div>
            <div class="gh-map">
                <ul class="nav nav-tabs" style="border-bottom: 3px solid #ddd">
                    <li>
                        <p>
                            <span class="icon iconfont icon-ditu"></span>
                            工会地图
                        </p>
                    </li>
                </ul>
            </div>
            <!--地图-->
            <div>
                <div class="map-pic">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#sousuo" data-toggle="tab">工会搜索</a>
                        </li>
                        <button class="reback">点击返回</button>
                    </ul>
                    <div class="tab-content">
                        <div style="margin:15px 20px;position: inherit">
                            <input type="text" style="width:246px;height:34px;margin-right: -8px;" id="keywords"
                                   value="阳泉市总工会" autocomplete="off">
                            <a href="#outer-box" data-toggle="tab" class="mapsecbut btn"
                               style="width:51px;height:34px;line-height:28px;background-color: #db2c28;border: none;font-size:14px;color:#fff">
                                搜索
                            </a>
                        </div>
                        <div class="tab-pane active" id="sousuo"style="position: inherit" >
                            <div class="zg_ul mapList" style="padding:0 10px;position: static">
                                <div>
                                    <a href="#outer-box" data-toggle="tab" class="qxgh" value="县工会，区工会">
                                    <span class="zg_seach_yi"
                                          style="display:inline-block;width:90px;height:98px;margin:0px 30px 10px"></span>
                                        <p style="font-size: 16px;text-align:center">区县工会</p>
                                    </a>
                                </div>
                                <div>
                                    <a href="#outer-box" data-toggle="tab" class="qxgh" value="工会">
                                    <span class="zg_seach_er"
                                          style="display:inline-block;width:91px;height:98px;margin:0px 30px 10px"></span>
                                        <p style="font-size: 16px;;text-align:center">产业工会</p>
                                    </a>
                                </div>
                                <div>
                                    <a href="#outer-box" data-toggle="tab" class="qxgh" value="妇女儿童，工会">
                                    <span class="zg_seach_san"
                                          style="display:inline-block;width:90px;height:98px;margin:0px 30px 10px"></span>
                                        <p style="font-size: 16px;;text-align:center">母婴关爱室</p>
                                    </a>
                                </div>
                                <div>
                                    <a href="#outer-box" data-toggle="tab" class="qxgh" value="工作室">
                                    <span class="zg_seach_si"
                                          style="display:inline-block;width:91px;height:98px;margin:0px 30px 10px"></span>
                                        <p style="font-size: 16px;;text-align:center">创新工作室</p>
                                    </a>
                                </div>
                                <div>
                                    <a href="#outer-box" data-toggle="tab" class="qxgh" value="爱心驿站">
                                    <span class="zg_seach_wu"
                                          style="display:inline-block;width:90px;height:98px;margin:0px 30px 10px"></span>
                                        <p style="font-size: 16px;;text-align:center">爱心驿站</p>
                                    </a>
                                </div>
                                <div><a href="#outer-box" data-toggle="tab" class="qxgh" value="帮扶">
                                    <span class="zg_seach_liu"
                                          style="display:inline-block;width:91px;height:98px;margin:0px 30px 10px"></span>
                                    <p style="font-size: 16px;;text-align:center">帮扶工作站</p>
                                </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="outer-box">
                            <div id="panel" class="scrollbar1">
                                <ul id="pagination-demo" class="pagination-sm"></ul>
                                <ul id="myList"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="container" style="width:859px;min-height:700px;float:left;border:solid 1px #ccc">
                    <!-- <div ></div>  -->

                </div>

                <div style="clear:both"></div>
            </div>
            <!-- 友情链接 -->
            <div style="width: 1185px;margin: 20px auto;min-height: 334px" class="clearfix">
                <!--红兵-->
                <ul class="nav nav-tabs cqiehuan" >
                    <li class="active" v-for="item in firendZ" v-if="item.id == 15">
                        <a href="#all" data-toggle="tab">{{item.groupName}}</a></li>
                    <li  v-else-if="item.id == 16"><a href="#qu" data-toggle="tab">{{item.groupName}}</a></li>
                    <li v-else-if="item.id == 17"><a href="#meiti" data-toggle="tab">{{item.groupName}}</a></li>
                </ul>
                <div  class="tab-content qiehuan clearfix" id="qiehuan" style="height: 85px">
                    <div class="tab-pane active" id="all">
                        <div class="ship-gh">
                            <ul class="clearfix">
                                <li v-for="item in quanBox">
                                    <a :href="item.linkUrl">
                                        <img :src="item.img">
                                        <p>{{item.linkName}}</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="qu">
                        <div class="ship-gh">
                            <ul class="clearfix">
                                <li v-for="item in meiBox">
                                    <a :href="item.linkUrl">
                                        <img :src="item.img">
                                        <p>{{item.linkName}}</p>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="meiti">
                        <div class="ship-gh">
                            <ul class="clearfix">
                                <li v-for="item in meitiBox">
                                    <a :href="item.linkUrl">
                                        <img :src="item.img">
                                        <p>{{item.linkName}}</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--底部-->
        <div id="footer"></div>
    </div>
    <div class="slide">
        <ul>
            <li class="open-hyzx">
                <i class="icon iconfont icon-member"></i>
                <a>{{membercenter}}</a>
            </li>
            <li>
                <i class="icon iconfont icon-xiaoxi"></i><a href="##">消息通知</a>
                <div class="tz-bage">
                    <span class="bage">10</span>
                </div>
            </li>
            <li class="kefu"><i class="icon iconfont icon-kefu1 "></i><a href="##">智能客服</a></li>
            <li><i class="icon iconfont icon-xinlang"></i><a href="##">微博</a></li>
            <li><i class="icon iconfont icon-weixin2"></i><a href="##">微信</a></li>
            <li><i class="icon iconfont icon-APP"></i><a href="##">APP</a></li>
            <li id="top"><i class="icon iconfont icon-fanhuidingbu-"></i><a href="##">TOP</a></li>
        </ul>
        <div class="sina">
            <a href="">
                <img src="images/sina.png" width="100px" height="100px">
            </a>
            <p>新浪微博二维码</p>
        </div>
        <div class="ewm">
            <a href="">
                <img src="images/erweima.jpg" width="100px" height="100px">
            </a>
            <p>工会微信公众号</p>
        </div>
        <div class="exit">
            <img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>

            <p class="phoneUser">{{userPhone}}</p>
            <button @click="clear()">退出</button>
        </div>
        <div class="appDoload">
            <div class="ang">
                <p>App下载</p>
                <img src="images/android.jpg" alt="App下载">
            </div>
        </div>
    </div>
    <!--智能客服-->
    <div class="customer-service" >
        <div class="kf_box">
            <div class="kf clearfix">
                <div class="kf_left">
                    <a href=""><img src="images/gh_x.png" width="23px" height="23px"></a>
                    <span>工会智能小K</span>
                </div>
                <div class="kf_right">
                    <i class="icon iconfont icon-xiajiantou"></i>
                </div>
            </div>
        </div>
        <div class="chat_box">
            <div id="chat" class="chat clearfix">
                <div class="chat_left">
                    <a href=""><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
                    <span>客服</span>
                    <!--<i>2019-3-22  12:12</i>-->
                    <p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
                </div>



            </div>
            <div class="down"></div>
            <div class="shuru">
                <input type="text" placeholder="请输入文字..."  v-model="userinp" autocomplete="off"/>
            </div>
            <div class="send clearfix">
                <div class="send_left">
                    <i class="icon iconfont icon-smiling" ></i>
                </div>
                <div class="send_right">
                    <button type="button" @click="sendModel">发送</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://webapi.amap.com/ui/1.0/plug/ext/jquery-1.12.4.min.js?v=1.0.11"></script>
<script type="text/javascript"
        src="https://a.amap.com/amap-ui/static/1.0/ui/misc/MarkerList/examples/jquery.twbsPagination.min.js?v=1.0.11"></script>
<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/usertoken.js"></script>
<script>
    var vm = new Vue({
        el: "#nameselect",
        data: {
            isactive:false,
            userinp:'',
            userPhone:'',
            membercenter:'',
            nowTime:'',
            nowDay:'',
            userHeaderPic:'',
            quanBox:[],  //全总
            meiBox:[],   //区县阳煤
            meitiBox:[],  //新闻媒体网站
            firendZ:[]  //红兵


        },
        methods:{

            sendModel(){
                kfhuifu();
            },
            //友情链接
            getfriendship(){

                const that = this;
                //红兵
                $.ajax({
                    url: baseUrl +"/system/cms/friendlink/group/getJsonData",
                    data:{},
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.firendZ = result.data
                    }
                })

                $.ajax({
                    url: baseUrl +"/api/friendlink/list",
                    data:{
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.firendList=result.data;
                        for (var i = 0; i<that.firendList.length; i++) {
                            // console.log(that.firendList[i].groupId)
                            if (that.firendList[i].groupId==17) {
                                that.meitiBox.push(that.firendList[i])
                            }else if (that.firendList[i].groupId==16) {

                                that.meiBox.push(that.firendList[i])
                            }else if (that.firendList[i].groupId==15) {

                                that.quanBox.push(that.firendList[i])
                            }
                        }
                    }
                })

            },


        },
        mounted(){

            const that = this;
            that.nowTime = nowTimeDay
            that.getfriendship()
            getDay()
            that.nowDay = nowDay



            //实名制查询   显示用户头像 名字

            if(userTok.token != null){
                $.ajax({
                    type: 'post',
                    url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result) {
                        console.log(result);

                        if (result.data.total == 1) {
                            //用户头像
                            that.userHeaderPic = result.data.content[0].portraitPic;
                            console.log('已经实名制')
                        } else if (result.data.total == 0) {
                            that.userHeaderPic = 'images/user.png'; //默认头像
                            console.log('您还未实名制')
                        } else {
                            that.userHeaderPic = 'images/user.png'; //默认头像
                            console.log('您还未实名制')
                        }


                    }

                })
            }

        }



    })


</script>
<!--智能客服-->
<script src="js/znkf.js"></script>
<!-- UI组件库 1.0 -->
<script src="https://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript">

    function getmap() {

        //创建地图
        var map = new AMap.Map('container', {
            resizeEnable: true,
            center: [113.5741532400,37.8565094400],
            zoom: 13
            // scrollWheel:false,
        });
        var localAddress = ''//当前地址
        map.clearMap();  // 清除地图覆盖物
        //获取位置信息
        map.plugin('AMap.Geolocation', function () {
            geolocation = new AMap.Geolocation({
                enableHighAccuracy: true,//是否使用高精度定位，默认:true
                timeout: 10000,          //超过10秒后停止定位，默认：无穷大
                maximumAge: 0,           //定位结果缓存0毫秒，默认：0
                convert: true,           //自动偏移坐标，偏移后的坐标为高德坐标，默认：true
                showButton: false,        //显示定位按钮，默认：true
                buttonPosition: 'LB',    //定位按钮停靠位置，默认：'LB'，左下角
                buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
                showMarker: false,        //定位成功后在定位到的位置显示点标记，默认：true
                showCircle: false,        //定位成功后用圆圈表示定位精度范围，默认：true
                panToLocation: false,     //定位成功后将定位到的位置作为地图中心点，默认：true
                zoomToAccuracy:false      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            });
            map.addControl(geolocation);
            geolocation.getCurrentPosition();
            AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
            AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
            function onComplete(msg) {
                localAddress = msg.formattedAddress
                console.log(msg);
            }
        });
        AMapUI.loadUI(['misc/MarkerList', 'overlay/SimpleMarker', 'overlay/SimpleInfoWindow'],
            function (MarkerList, SimpleMarker, SimpleInfoWindow) {
                // console.log(MarkerList)
                //即jQuery/Zepto
                /*     console.log(MarkerList);
                 console.log(SimpleMarker);
                 console.log(SimpleInfoWindow);*/
                var $ = MarkerList.utils.$;

                var defaultIconStyle = function (index) {
                        return 'red-' + (index + 1);
                    }, //默认的图标样式
                    hoverIconStyle = function (index) {
                        return 'blue-' + (index + 1);
                    }, //鼠标hover时的样式
                    selectedIconStyle = function (index) {
                        return 'blue-' + (index + 1);
                    } //选中时的图标样式
                ;


                var markerList = new MarkerList({
                    map: map,
                    //ListElement对应的父节点或者ID
                    listContainer: "myList", //document.getElementById("myList"),
                    //选中后显示

                    //从数据中读取位置, 返回lngLat
                    getPosition: function (item) {
    //                    console.log(item.location)
                        return item.location;
                    },
                    //数据ID，如果不提供，默认使用数组索引，即index
                    getDataId: function (item, index) {

                        return item.id;
                    },
                    getInfoWindow: function (data, context, recycledInfoWindow) {
    //                    console.log(data);
                        var content = '<div class="info-title">'+data.name+'</div><div class="info-content" style="min-height: 60px;">' +
                            // '<img src="https://webapi.amap.com/images/amap.jpg">' +
                            ''+data.cityname+data.adname+data.address+'<br/>' +
                            // '<a target="_blank" href = "https://mobile.amap.com/">点击下载高德地图</a></div>';
                            '</div>';
                        setTimeout(function () {
                            $('.keyword').val(localAddress)
                            $('.amap-info-tabs .tab:last-child').trigger("click")//自动触发点击事件
                        },100)
                        //返回一个新的InfoWindow
                        return new AMap.AdvancedInfoWindow({
                            // autoMove:true,
                            asDestination:true,
                            asOrigin:true,
                            content: content,
                            placeSearch:false,
                            offset: new AMap.Pixel(0, -30)
                        });
                    },
                    //构造marker用的options对象, content和title支持模板，也可以是函数，返回marker实例，或者返回options对象
                    getMarker: function (data, context, recycledMarker) {
                        // *******************************************************************************
    //                    console.log(data);
                        if (recycledMarker) {
                            recycledMarker.setIconStyle(defaultIconStyle(context.index));
                            return;
                        }

                        return new SimpleMarker({
                            iconTheme: 'numv1',
                            containerClassNames: 'my-marker',
                            iconStyle: defaultIconStyle(context.index),
                        });
                    },
                    //构造列表元素，与getMarker类似，可以是函数，返回一个dom元素，或者模板 html string
                    getListElement: function (data, context, recycledListElement) {
    //                    console.log(data);

                        var label = '' + (context.index + 1);

                        //使用模板创建
                        var innerHTML = MarkerList.utils.template(
                            '<% if(data.photos && data.photos[0]) { %>' +
                            '<div class="poi-imgbox">' +
                            '    <span class="poi-img" style="background-image:url(<%- data.photos[0].url %>)"></span>' +
                            '</div>' +
                            '<% } %>' +
                            '<div class="poi-info-left">' +
                            '    <h3 class="poi-title">' +
                            '        <%- label %>. <%- data.name %>' +
                            '    </h3>' +
                            '    <div class="poi-info">' +
                            '        <p class="poi-addr">地址：<%- data.address %></p>' +
                            '<% if(data.tel ){ %>' +
                            '        <p class="poi-addr">电话：<%- data.tel %></p>' +
                            '<% } %>' +
                            '    </div>' +
                            '</div>' +
                            '<div class="clear"></div>', {
                                data: data,
                                label: label
                            });

                        if (recycledListElement) {
                            recycledListElement.innerHTML = innerHTML;
                            return recycledListElement;
                        }

                        return '<li class="poibox">' +
                            innerHTML +
                            '</li>';
                    },
                    //列表节点上监听的事件
                    listElementEvents: ['click', 'mouseenter', 'mouseleave'],
                    //marker上监听的事件
                    markerEvents: ['click', 'mouseover', 'mouseout'],
                    //makeSelectedEvents:false,
                    selectedClassNames: 'selected',
                    autoSetFitView: true
                });

                window.markerList = markerList;

                AMap.plugin(["AMap.PlaceSearch"], function () {

                    var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
                        pageSize: 10,
                        pageIndex: 1,
                        extensions: 'all',
                        city: "0353" //城市
                    });

                    var $pagination = $('#pagination-demo');

                    function initPagination(page, totalPages) {

                        //初始化分页器
                        $pagination.twbsPagination({
                            totalPages: totalPages,
                            startPage: page,
                            prev: null,
                            first: '首页',
                            next: '下一页',
                            last: null,
                            initiateStartPageClick: false,
                            onPageClick: function (event, page) {
                                goPage(page);
                            }
                        });
                    }

                    var inited = false;

                    var $keywords = $('#keywords');
                    var $mapsecbut = $('.mapsecbut');

                    function goPage(page) {

                        //设置当前页
                        placeSearch.setPageIndex(page);
                        //关键字查询
                        placeSearch.search($keywords.val(), function (status, result) {

                            if (status !== 'complete') {
                                alert('暂无结果!');
                            }

                            //render当前页的数据
                            markerList.render(result.poiList.pois);

                            if (!inited) {
                                inited = true;
                                //首次初始化
                                initPagination(page, Math.ceil(result.poiList.count / result.poiList.pageSize));
                            }

                        });
                    }

                    goPage(1);

                    //底部菜单点击地图搜索
                    function goPageLIst(page, t) {
                        console.log($(t));
                        //设置当前页
                        placeSearch.setPageIndex(page);
                        //关键字查询
                        placeSearch.search($(t).attr('value'), function (status, result) {

                            if (status !== 'complete') {
                                alert('暂无结果!');
                            }

                            //render当前页的数据
                            markerList.render(result.poiList.pois);

                            if (!inited) {
                                inited = true;
                                //首次初始化
                                initPagination(page, Math.ceil(result.poiList.count / result.poiList.pageSize));
                            }

                        });
                    }

                    $mapsecbut.on('click', function (e) {
                        $('.reback').show();
                        $('.nav-pills .active').width('60%');
                        $("#outer-box").removeClass('active');
                        $("#sousuo").addClass('active');
                        inited = false;
                        $pagination.twbsPagination('destroy');
                        goPage(1);

                    });
                    $('.qxgh').on('click', function (e) {
                        $('.reback').show();
                        $('.nav-pills .active').width('60%');
                        $("#outer-box").removeClass('active');
                        $("#sousuo").addClass('active');
                        inited = false;
                        $pagination.twbsPagination('destroy');
                        goPageLIst(1, this);

                    });
                });

                markerList.on('selectedChanged', function (event, info) {

                    if (info.selected) {

                        if (info.selected.marker) {
                            //更新为选中样式
                            info.selected.marker.setIconStyle(selectedIconStyle(info.selected.index));
                        }
                    }

                    if (info.unSelected && info.unSelected.marker) {
                        //更新为默认样式
                        info.unSelected.marker.setIconStyle(defaultIconStyle(info.unSelected.index));
                    }
                });


                markerList.on('listElementMouseenter markerMouseover', function (event, record) {

                    if (record && record.marker) {
                        //非选中的id
                        if (!this.isSelectedDataId(record.id)) {
                            //设置为hover样式
                            record.marker.setIconStyle(hoverIconStyle(record.index));
                            //this.closeInfoWindow();
                        }
                    }
                });

                markerList.on('listElementMouseleave markerMouseout', function (event, record) {

                    if (record && record.marker) {

                        if (!this.isSelectedDataId(record.id)) {
                            //恢复默认样式
                            record.marker.setIconStyle(defaultIconStyle(record.index));
                        }
                    }
                });


            });
    }

    $(window).scroll(function(event){
        if($(window).scrollTop() >= 2000) {
            console.log($(window).scrollTop());
            getmap();
            $(window).unbind()
        }
    });


    $('.reback').on('click',function(){
        $('.nav-pills .active').width('100%');
        $(this).hide();
        $("#outer-box").removeClass('active');
        $("#sousuo").addClass('active');
    })

</script>
</html>