<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/zlzx.css">
	<!--全局样式-->
	<link rel="stylesheet" href="css/style.css">
	<title>阳泉市总工会</title>
	<link rel="icon" href="images/picture.png" type="image/x-icon"/>
	<style>
		.showmask2,.showmask1{
			display: none;
		}
		.content,.xiala{
			display: none;
		}
		.active1{
			background-color: #ed9304 !important;
		}
	</style>
</head>
<body>
<div id="data-center" v-cloak>
	<div class="nav_box">
		<div class="nav1">
			<div class="nav_left">
				<a href="index.html"><img src="images/logo.png"></a>
			</div>
			<div class="tubiao">
				<p>{{nowTime}}</p>
				<p>{{nowDay}}</p>
			</div>
			<div class="nav_center clearfix">
				<div class="tianqi">
					<iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
							src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
				</div>
			</div>
		</div>
		<div class="list_online">
			<div class="search clearfix">

				<input type="text" placeholder="请输入关键字" class="text searchText" id="ser-text" v-model="serKwords" style="height: 44px" autocomplete="off"/>
				<input type="button" class="button serbutton" value="搜索" @click="goToSer('ssjg.html')" autocomplete="off"/>
		    </div>
		</div>
		<div class="list_box">
			<div class="menu">
				<ul class="clearfix">
						<li class="hideMask">
							<a href="index.html">
								<i class="icon iconfont icon-shouye"></i>首页
							</a>
						</li>

						<li class="tissue-jg">
							<a href="zzjg.html">
								<i class="icon iconfont icon-zuzhijigou1"></i>组织机构
							</a>
						</li>
						<li class="news-zx">
							<a href="xwzx.html">
								<i class="icon iconfont icon-xinwen2"></i>新闻资讯
							</a>
						</li>
						<li class="hideMask">
							<a href="zg_index.html">
								<i class="icon iconfont icon-daohangtubiao_fuwudating"></i>服务大厅
							</a>
						</li>
						<li class="hideMask">
							<a href="ztzx.html">
								<i class="icon iconfont icon-zhuanti"></i>专题中心
							</a>
						</li>
					<li>
						<a href="jnts.html">
							<i class="icon iconfont icon-shu1"></i>技能提升
						</a>
					</li>
						<li class="hideMask">
							<a href="data.html">
								<i class="icon iconfont icon-shuju"></i>数据中心
							</a>
						</li>
						<li class="hideMask active">
							<a href="javascript:;">
								<i class="icon iconfont icon-ziliao"></i>资料中心
							</a>
						</li>
				</ul>
			</div>
			<!--新闻资讯-->
			<div class="content clearfix">
				<div class="content_left">
					<ul>

						<li :class="{active1:isShow == index}"
							@click="rightContent(item.categoryId)"
							v-for="(item,index) in mask1left" :key="index">
							<a href="##">{{item.categoryName}}</a>
						</li>

					</ul>
				</div>
				<div class="content_center">
					<ul>
						<li v-for="(item,name) in mask1right" @click="sendId(item.contentId)">
							<a href="##">
								<div class="circle"></div>
								{{item.title}}
							</a>
							<span>【{{item.inputdate}}】</span>
						</li>
					</ul>
				</div>
			</div>
			<!--&lt;!&ndash;组织机构&ndash;&gt;-->
			<!--<div class="xiala">-->
				<!--<div class="xiala_left">-->
					<!--<ul>-->
						<!--<li><a href="##">市总简介</a></li>-->
						<!--<li><a href="##">市总领导</a></li>-->
						<!--<li class="active1"><a href="##">内设机构</a></li>-->
					<!--</ul>-->
				<!--</div>-->
				<!--<div class="xiala_right">-->
					<!--<div class="xiala_list">-->
						<!--<ul class="clearfix">-->
							<!--<li><a href="javascript:;">市总部门：</a></li>-->
							<!--<li><a href="javascript:;">市总部门：</a></li>-->
							<!--<li v-for="item in jigouDown"><a href="javascript:;">{{item.alwaysDepartmentName}}</a></li>-->
							<!---->
						<!--</ul>-->
					<!--</div>-->

				<!--</div>-->
			<!--</div>-->
			<div class="my_ghtitleleft" style="float: none;margin-left: 2%">
				<i class="icon iconfont icon-shouye"></i>
				<a href="index.html">当前位置：首页></a>
				<a href="javascript:;">资料中心 > </a>
				<span>{{inPosition}}</span>
			</div>
			<div class="my_ghcontent clearfix">
				<div class="my_ghcontentleft" style="margin-left: 2%">
					<div class="gh_listbox">
						<div class="rh_title">
							<h4>资料中心</h4>
						</div>
						<div class="rh_list">
							<ul>
								<li class="laws-regulations" v-for="item in leftTitle" @click="toggContent(item.categoryId)">
									<p>{{item.categoryName}}</p>
									<i class="icon iconfont icon-jiaobiao"></i>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="toggWrap clearfix" style="margin-left: 0">

					<div class="my_ghcontentright" style="margin-left: 20px">
						<div class="zl_box tab-togg on">
							<ul>
								<li v-for="item in rightContent" title="点击查看详情" @click="sendId(item.contentId)">
									<div class="fangkuai"></div>
									<div class="zl_text">
										<h4>{{item.title}}</h4>
										<span>时间：{{item.inputdate}}</span>
									</div>
								</li>
							</ul>
						</div>


					</div>
					<!--分页-->
					<div class="jwn_list"></div>
				</div>
			</div>
		</div>
		<!-- 底部 -->
		<div id="footer"></div>
		<!--右侧功能栏-->
		<div class="slide">
			<ul>
				<li class="open-hyzx">
					<i class="icon iconfont icon-member"></i>
					<a>{{membercenter}}</a>
				</li>
				<li>
					<i class="icon iconfont icon-xiaoxi"></i><a href="##">消息通知</a>
					<div class="tz-bage">
						<span class="bage">10</span>
					</div>
				</li>
				<li class="kefu"><i class="icon iconfont icon-kefu1 "></i><a href="##">智能客服</a></li>
				<li><i class="icon iconfont icon-xinlang"></i><a href="##">微博</a></li>
				<li><i class="icon iconfont icon-weixin2"></i><a href="##">微信</a></li>
				<li><i class="icon iconfont icon-APP"></i><a href="##">APP</a></li>
				<li id="top"><i class="icon iconfont icon-fanhuidingbu-"></i><a href="##">TOP</a></li>
			</ul>
			<div class="sina">
				<a href="javascript:;">
					<img src="images/sina.png" width="100px" height="100px">
				</a>
				<p>新浪微博二维码</p>
			</div>
			<div class="ewm">
				<a href="javascript:;">
					<img src="images/erweima.jpg" width="100px" height="100px">
				</a>
				<p>工会微信公众号</p>
			</div>
			<div class="exit">
				<img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>
				<p class="phoneUser">{{userPhone}}</p>
				<button @click="clear()">退出</button>
			</div>
			<div class="appDoload">
				<div class="ang">
					<p>App下载</p>
					<img src="images/android.jpg" alt="App下载">
				</div>
			</div>

		</div>
		<!--智能客服-->
		<div class="customer-service" >
		<div class="kf_box">
			<div class="kf clearfix">
				<div class="kf_left">
					<a href=""><img src="images/gh_x.png" width="23px" height="23px"></a>
					<span>工会智能小K</span>
				</div>
				<div class="kf_right">
					<i class="icon iconfont icon-xiajiantou"></i>
				</div>
			</div>
		</div>
		<div class="chat_box">
			<div id="chat" class="chat clearfix">
				<div class="chat_left">
					<a href=""><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
					<span>客服</span>
					<i>2019-3-22  12:12</i>
					<p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
				</div>





			</div>
			<div class="down"></div>
			<div class="shuru">
				<input type="text" placeholder="请输入文字..."  v-model="userinp" autocomplete="off"/>
			</div>
			<div class="send clearfix">
				<div class="send_left">
					<i class="icon iconfont icon-smiling" ></i>
				</div>
				<div class="send_right">
					<button type="button" @click="sendModel">发送</button>
				</div>
			</div>
		</div>
	</div>

	</div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	$(function () {

		/*微信矩阵 网站集群*/
		$('#showmask1').mouseenter(function () {
			$('.showmask2').show();
			$('.top-arrow2').show()
			$('.top-arrow2ccc').show()
			$('.showmask1').hide()
			$('.top-arrow1').hide()
			$('.top-arrow1ccc').hide()
		});
		$('.showmask2').mouseleave(function () {
			$('.showmask2').hide()
			$('.top-arrow2').hide()
			$('.top-arrow2ccc').hide()
		});
		$('#showmask2').mouseenter(function () {
			$('.showmask1').show()
			$('.top-arrow1').show()
			$('.top-arrow1ccc').show()
			$('.showmask2').hide()
			$('.top-arrow2').hide()
			$('.top-arrow2ccc').hide()
		});
		$('.showmask1').mouseleave(function () {
			$('.showmask1').hide()
			$('.top-arrow1').hide()
			$('.top-arrow1ccc').hide()
		});


		$(document).click(function () {
			$('.showmask1').hide()
			$('.showmask2').hide()
			$('.top-arrow1').hide()
			$('.top-arrow2').hide()
			$('.top-arrow1ccc').hide()
			$('.top-arrow2ccc').hide()
		})

		/*搜索框上 导航列表*/

		addactive('.list_online .list ul li','active');
		addactive('.home_list li','active');
		addactive('.matter_list ul li','active');
		addactive('.slide ul li','active');
		addactive('.menu ul li','mu1');




	})
</script>

<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/usertoken.js"></script>
<script>
	var vm = new Vue({
		el: "#data-center",
		data: {
			mask1left:[],
			mask1right:[],
			isShow:false,
			isactive:false,
			userinp:'',
			userPhone:'',
			membercenter:'',
			unionData:[],
			serKwords:'',
			leftTitle:[],

			rightContent:[],
			nowTime:'',
			nowDay:'',
			userHeaderPic:'',
            inPosition:'党章党规'

		},
		methods:{
			//遮罩层1左侧菜单列表
			getMask1LeftMenu(){
				const that = this;
				$.ajax({
					url: baseUrl + "/api/category/list",
					data:{
						parentId:"290"
					},
					async: false,
					dataType:"json",
					success:  function (result) {
						that.mask1left = (result.data);
					}
				})
			},
			 //搜索框下拉
			serType(){
		   if(this.serTypeWrap == true){
			  this.serTypeWrap =false
		   }else{
			  this.serTypeWrap = true
		   }
		},
			sendSousuo(id,name){
				var that = this;
				that.serModel = name;
				that.sousuoID = id;
				console.log(that.serModel);
				console.log(that.sousuoID);


				that.serTypeWrap = false
		},
			//右侧
			getMask1LeftContent(){
				const that = this;
				$.ajax({
					url: baseUrl + "/api/category/list",
					data:{
						parentId:"290"
					},
					async: false,
					dataType:"json",
					success:  function (result) {
						that.mask1left = (result.data);
						console.log(that.mask1left);
					}
				})
			},
			rightContent(id){
				console.log(id);
				const that = this;
				$.ajax({
					url:baseUrl + "/api/content/list",
					data:{
						"categoryId" : id,
						"num" : "1",
						"pageSize" : "10"
					},
					dataType:"json",
					success:  function (result) {
						that.mask1right = result.data.list;
						console.log(that.mask1right)
					}
				})
			},
			sendId(id){
			   console.log(id);
			   window.location.href=('info_content.html' + '?'+id)
			},
			//跳转到搜索界面
			goToSer(path){
				const that=this
				console.log(that.serKwords)
				window.open(path,'_self')
				localStorage.setItem("keywords",that.serKwords)
			},
			sendModel(){
				kfhuifu();
			},
			//左侧资料中心标题
			getleftTitle(){
				var that = this;
				$.ajax({
					url: baseUrl + "/api/category/list",
					data:{parentId:"327"},
					async: false,
					dataType:"json",
					success:  function (result) {
						console.log(result);
						that.leftTitle = (result.data);
					}
				})
			},
			//右侧切换
			toggContent(id){
				var that = this;
				console.log(id);
                if(id=='349'){
                    that.inPosition='党章党规'
                }else if (id=='348'){
                    that.inPosition='法律法规'
                } else if (id=='347'){
                    that.inPosition='政策文件'
                } else if (id=='346'){
                    that.inPosition='工运史料'
                }else if (id=='345'){
                    that.inPosition='工会法人登记指南'
                }else if (id=='344'){
                    that.inPosition='基层工会组建指南'
                }else if (id=='343'){
                    that.inPosition='工会法律援助指南'
                }else if (id=='342'){
                    that.inPosition='基层工会工作指南'
                }
				$.ajax({
					url:baseUrl + "/api/content/list",
					data:{
						"categoryId" : id,
						"num" : "1",
						"pageSize" : "10"
					},
					dataType:"json",
					success:  function (result) {
						that.rightContent = result.data.list;
						console.log(that.rightContent)
					}
				})
			}

		},
		mounted(){

			const that = this;
			that.getMask1LeftMenu();
			that.getMask1LeftContent();
			that.getleftTitle();
			that.nowTime = nowTimeDay;
			getDay();
			that.nowDay = nowDay;
			//默认显示id 306
			$.ajax({
				url:baseUrl + "/api/content/list",
				data:{
					"categoryId" : "306",
					"num" : "1",
					"pageSize" : "10"
				},
				dataType:"json",
				success:  function (result) {
					that.mask1right = result.data.list;

				}
			});

			$.ajax({
				url:baseUrl + "/api/content/list",
				data:{
					"categoryId" : 349,
					"num" : "1",
					"pageSize" : "10"
				},
				dataType:"json",
				success:  function (result) {
					console.log(that.rightContent);

					that.rightContent = result.data.list
				}
			});





		   //实名制查询   显示用户头像 名字

		  if(userTok.token != null){
			   $.ajax({
					type: 'post',
					url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
					contentType: 'application/json',
					data: JSON.stringify({
					"token": userTok.token
				}),
				async: false,
				success: function (result) {
				console.log(result);

				if (result.data.total == 1) {
					//用户头像
					that.userHeaderPic = result.data.content[0].portraitPic;
					console.log('已经实名制')
				} else if (result.data.total == 0) {
					that.userHeaderPic = 'images/user.png'; //默认头像
					console.log('您还未实名制')
				} else {
					that.userHeaderPic = 'images/user.png'; //默认头像
					console.log('您还未实名制')
				}


				 }

			   })
		  }







		}



	})


</script>
<!--智能客服-->
<script src="js/znkf.js"></script>
<script type="text/javascript">
	$(function(){
		$(".rh_list ul li:first-child").addClass("active");
		$(".rh_list ul li").on("click",function(){
			$(this).addClass("active").siblings().removeClass("active");
		})




    })
</script>
</body>
</html>