<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" >
	<link rel="stylesheet" href="css/zzjg.css">
	<!--全局样式-->
	<link rel="stylesheet" href="css/style.css">
	<title>阳泉市总工会</title>
	<link rel="icon" href="images/picture.png" type="image/x-icon"/>
	<style>

		.showmask2,.showmask1{
			display: none;
		}
		.content,.xiala{
			display: none;
		}
		.active1{
			background-color: #ed9304 !important;
		}
		.jigou_tab>div:nth-child(1){
			display: block;
		}
		.act-move-left{
			position: absolute;
			left: 0;
			top: 12px;
			z-index: 10;
			cursor: pointer;
		}
		.act-move-right{
			position: absolute;
			right: 0;
			top: 12px;
			z-index: 10;
			cursor: pointer;

		}
		.tab-togg{
			margin-bottom: 0 !important;
		}
	</style>
</head>
<body>
<div class="nav_box" id="data-center" v-cloak>
	<div class="nav1">
		<div class="nav_left">
			<a href="index.html"><img src="images/logo.png"></a>
		</div>
		<div class="tubiao">
			<p>{{nowTime}}</p>
			<p>{{nowDay}}</p>
		</div>
		<div class="nav_center clearfix">
			<div class="tianqi">
				<iframe width="350" scrolling="no" height="60" frameborder="0" allowtransparency="true"
						src="//i.tianqi.com/index.php?c=code&id=12&icon=1&num=5&site=12"></iframe>
			</div>
		</div>
		<!--&lt;!&ndash;微信矩阵开始&ndash;&gt;-->
		<!--<div class="nav_right clearfix" >-->
			<!--&lt;!&ndash;网站集群&ndash;&gt;-->
			<!--<div class="juxing" id="showmask2">-->
				<!--<i class="icon iconfont icon-pingtai"></i>-->
				<!--<p>网站集群</p>-->

				<!--<div class="top-arrow1"></div>-->
				<!--<div class="top-arrow1ccc"></div>-->
			<!--</div>-->
			<!--<div class="wechat-mask clearfix">-->
				<!--<div class="jq showmask1">-->
					<!--<div class="jq_list">-->
						<!--<ul class="clearfix">-->
							<!--<li><a href="">市</a></li>-->
							<!--<li><a href="">阳泉</a></li>-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="jq_list">-->
						<!--<ul class="clearfix">-->
							<!--<li><a href="">区/县</a></li>-->
							<!--<li><a href="">阳泉城区</a></li>-->
							<!--<li><a href="">阳泉矿区</a></li>-->
							<!--<li><a href="">阳泉郊区</a></li>-->
							<!--<li><a href="">平定县</a></li>-->
							<!--<li><a href="">盂县</a></li>-->
						<!--</ul>-->
					<!--</div>-->

				<!--</div>-->
			<!--</div>-->
			<!--&lt;!&ndash;微信矩阵&ndash;&gt;-->
			<!--<div class="juxing pic" id="showmask1" >-->
				<!--<i class="icon iconfont icon-weixin2"></i>-->
				<!--<p>微信矩阵</p>-->
				<!--<div class="top-arrow2"></div>-->
				<!--<div class="top-arrow2ccc"></div>-->
			<!--</div>-->
			<!--<div class="wechat-mask clearfix">-->


				<!--<div class="jq showmask2">-->

					<!--<div class="jq_list">-->
						<!--<ul class="clearfix">-->
							<!--<li><a href="">市</a></li>-->
							<!--<li><a href="">阳泉</a></li>-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="jq_list">-->
						<!--<ul class="clearfix">-->
							<!--<li><a href="">区/县</a></li>-->
							<!--<li><a href="">阳泉城区</a></li>-->
							<!--<li><a href="">阳泉矿区</a></li>-->
							<!--<li><a href="">阳泉郊区</a></li>-->
							<!--<li><a href="">平定县</a></li>-->
							<!--<li><a href="">盂县</a></li>-->
						<!--</ul>-->
					<!--</div>-->
					<!--<div class="jq_list">-->
						<!--<ul class="clearfix">-->
							<!--<li><a href="">产业工会</a></li>-->
							<!--<li><a href="">非公企业工会</a></li>-->
							<!--<li><a href="">财贸轻纺烟草工会</a></li>-->
							<!--<li><a href="">农林水工会</a></li>-->
							<!--<li><a href="">市煤炭工会</a></li>-->
							<!--<li><a href="">机冶建材工会</a></li>-->
							<!--<li><a href="">市直机关工会工委</a></li>-->
							<!--<li><a href="">市监狱工会</a></li>-->
							<!--<li><a href="">信息业工会</a></li>-->
							<!--<li><a href="">建筑业工会</a></li>-->
							<!--<li><a href="">直属基层工委</a></li>-->
							<!--<li><a href="">市公路运输工委</a></li>-->
							<!--<li><a href="">电业工会</a></li>-->
							<!--<li><a href="">教科文卫体工会</a></li>-->
							<!--<li><a href="">太铁工会</a></li>-->
							<!--<li><a href="">金融工委</a></li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!--&lt;!&ndash;微信矩阵结束&ndash;&gt;-->
	</div>
		<div class="list_online">
			<div class="search clearfix">
			  
				<input type="text" placeholder="请输入关键字" class="text searchText" id="ser-text" v-model="serKwords" autocomplete="off"/>
				<input type="button" class="button serbutton" value="搜索" @click="goToSer('ssjg.html')" autocomplete="off"/>
		    </div>
		</div>
		<div class="list_box">
			<div class="menu">
				<ul class="clearfix">
						<li class="hideMask">
							<a href="index.html">
								<i class="icon iconfont icon-shouye"></i>首页
							</a>
						</li>

						<li class="tissue-jg active">
							<a href="javascript:;">
								<i class="icon iconfont icon-zuzhijigou1"></i>组织机构
							</a>
						</li>
						<li class="news-zx">
							<a href="xwzx.html">
								<i class="icon iconfont icon-xinwen2"></i>新闻资讯
							</a>
						</li>
						<li class="hideMask">
							<a href="zg_index.html">
								<i class="icon iconfont icon-daohangtubiao_fuwudating"></i>服务大厅
							</a>
						</li>
						<li class="hideMask">
							<a href="ztzx.html">
								<i class="icon iconfont icon-zhuanti"></i>专题中心
							</a>
						</li>
					<li>
						<a href="jnts.html">
							<i class="icon iconfont icon-shu1"></i>技能提升
						</a>
					</li>
						<li class="hideMask">
							<a href="data.html">
								<i class="icon iconfont icon-shuju"></i>数据中心
							</a>
						</li>
						<li class="hideMask">
							<a href="zlzx.html">
								<i class="icon iconfont icon-ziliao"></i>资料中心
							</a>
						</li>
				</ul>
			</div>
			<!--新闻资讯-->
			<div class="content clearfix">
				<div class="content_left">
					<ul>
						<li :class="{active1:isShow == index}"
							@click="rightContent(item.categoryId)"
							v-for="(item,index) in mask1left" :key="index">
							<a href="##">{{item.categoryName}}</a>
						</li>
					</ul>
				</div>
				<div class="content_center">
					<ul>
						<li v-for="(item,name) in mask1right" @click="sendId(item.contentId)">

								<div class="circle"></div>
								{{item.title}}
							<span>【{{item.inputdate}}】</span>
						</li>
					</ul>
				</div>

			</div>

			<div class="my_ghtitleleft" style="float: none;margin-left: 2%">
				<i class="icon iconfont icon-shouye"></i>
				<a href="index.html">当前位置：首页></a>
				<!--变量-->
				<span>{{inPosition}}</span>
			</div>
			<div class="my_ghcontent clearfix">
				<div class="my_ghcontentleft" style="box-shadow: 1px 1px 4px rgba(0,0,0,0.26);margin-left: 2%">
					<div class="rh_title">
						<h4>组织机构</h4>
					</div>
					<div class="rh_list">
						<ul>
							<li class="shi-jianjie" @click="jiekou()">
								<p>市总简介</p>
								<i class="icon iconfont icon-jiaobiao"></i>
							</li>
							<li class="shi-lingdao" @click="zongLingdao()">
								<p>市总领导</p>
								<i class="icon iconfont icon-jiaobiao"></i>
							</li>
							<li class="shi-jigou"  @click="zongJianjie()">
								<p>内设机构</p>
								<i class="icon iconfont icon-jiaobiao"></i>
							</li>
						</ul>
					</div>
				</div>

				<div class="toggWrap clearfix" style="width: 72%;">

					<!--市总简介-->
					<div class="my_ghcontentright tab-togg">
						<div class="jianjie_title">
							<h4>市总简介</h4>
							<div class="online"></div>
							<p>{{jianjieBox.alwaysBriefContent}}</p>
						</div>
						<div class="shuju">
							<div class="shuju_title">
								<h4>工会数据<span>（截至2019年6月20日）</span></h4>
								<div class="online"></div>
							</div>
							<div class="shuju_content">
								<ul class="clearfix">
									<li>
										<a href="">
											<div class="sj_text">
												<strong>2861</strong>
												<span>个</span>
												<p>全市工会组织</p>
											</div>
										</a>
									</li>
									<li>
										<a href="">
											<div class="sj_text">
												<strong>340491</strong>
												<span>人</span>
												<p>职工人数</p>
											</div>
										</a>
									</li>
									<li>
										<a href="">
											<div class="sj_text">
												<strong>334692</strong>
												<span>人</span>
												<p>全市工会会员</p>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="zhize">
							<div class="shuju_title">
								<h4>主要职责</h4>
								<div class="online"></div>
							</div>
							<div class="zhize_content clearfix" v-for="(item,index) in zhizeBox" :key='index'>
								<div class="zhize_img">
									<span>{{index+1}}</span>
								</div>
								<div class="zhize_text">
									<p>
										{{item.alwaysBriefContent}}
									</p>
								</div>
							</div>
						</div>
					</div>
					<!--内设机构-->
					
					<div class="my_jigou tab-togg">
						<div class="shuju_title">
							<h4>市总部门</h4>
							<div class="online"></div>
						</div>
						<div class="jigou_xiala">

							<ul class="clearfix">
								<li v-for="(item,index) in jigou" :key="index"
									:class="{act:clickIndex == index}"
									@click="toggContent('w' + item.alwaysDepartmentId,index)">
									{{item.alwaysDepartmentName}}
								</li>
							</ul>
						</div>
						<div class="jigou_tab">
							<!-- 办公室 -->
							<div  v-for="item in jigou" class="hideJigou" :id="'w' + item.alwaysDepartmentId">
								<div class="lianxi clearfix">
									<div class="lianxi_left">
										<div>{{item.alwaysDepartmentName}}</div>
									</div>
									<div class="verticalLine"></div>
									<div class="lianxi_right">
										<div>
											<p>{{item.alwaysDepartmentSite}}</p>
											<p>{{item.alwaysDepartmentPhone}}</p>
										</div>
									</div>
								</div>


								<div class="work" >
								   <div class="shuju_title">
									  <h4>工作职责</h4>
									  <div class="online"></div>
								   </div>
								   <div class="work_content">
									  <h4>{{item.alwaysDepartmentHeadline}}</h4>
									  <span>
										 {{item.alwaysDepartmentContent}}
									  </span>
									</div>
								</div>



							</div>
						</div>
					</div>
					<!--市总领导-->
					<div class="my_lingdao tab-togg" style="min-height: 2238px">
						<div class="shuju_title">
							<h4>市总领导</h4>
							<div class="online"></div>
						</div>
						<div class="lingdao_content clearfix" v-for="item in Lingdaobox">
							<div class="lingdao_img">
								<a href="javascript:;"><img :src="item.alwaysleadUrl"></a>
							</div>
							<div class="lingdao_text">
								<h4>{{item.alwaysleadName}}</h4>
								<p>{{item.alwaysleadDuty}}</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	<!--底部-->
	<div id="footer"></div>
		<!--右侧功能栏-->
		<div class="slide">
			<ul>
				<li class="open-hyzx">
					<i class="icon iconfont icon-member" style="margin-top: 10px"></i>
					<a>{{membercenter}}</a>
				</li>
				<li>
					<i class="icon iconfont icon-xiaoxi" style="margin-top: 10px"></i><a href="##">消息通知</a>
					<div class="tz-bage">
						<span class="bage">10</span>
					</div>
				</li>
				<li class="kefu"><i class="icon iconfont icon-kefu1 " style="margin-top: 10px"></i><a href="##">智能客服</a></li>
				<li><i class="icon iconfont icon-xinlang" style="margin-top: 10px"></i><a href="##">微博</a></li>
				<li><i class="icon iconfont icon-weixin2" style="margin-top: 10px"></i><a href="##">微信</a></li>
				<li><i class="icon iconfont icon-APP" style="margin-top: 10px"></i><a href="##">APP</a></li>
				<li id="top"><i class="icon iconfont icon-fanhuidingbu-" style="margin-top: 10px"></i><a href="##">TOP</a></li>
			</ul>
			<div class="sina">
				<a href="">
					<img src="images/sina.png" width="100px" height="100px">
				</a>
				<p>新浪微博二维码</p>
			</div>
			<div class="ewm">
				<a href="">
					<img src="images/erweima.jpg" width="100px" height="100px">
				</a>
				<p>工会微信公众号</p>
			</div>
			<div class="exit">
				<img :src="userHeaderPic" width="80px" height="80px" onclick="window.open('hyzx.html')"/>
				<p class="phoneUser">{{userPhone}}</p>
				<button @click="clear()">退出</button>
			</div>
			<div class="appDoload">
				<div class="ang">
					<p>App下载</p>
					<img src="images/android.jpg" alt="App下载">
				</div>
			</div>
		</div>
		<!--智能客服-->
		<div class="customer-service" >
		<div class="kf_box">
			<div class="kf clearfix">
				<div class="kf_left">
					<a href=""><img src="images/gh_x.png" width="23px" height="23px"></a>
					<span>工会智能小K</span>
				</div>
				<div class="kf_right">
					<i class="icon iconfont icon-xiajiantou"></i>
				</div>
			</div>
		</div>
		<div class="chat_box">
			<div id="chat" class="chat clearfix">
				<div class="chat_left">
					<a href=""><img src="images/gh_l.png" style="margin-bottom: 5px;"></a>
					<span>客服</span>
					<!--<i>2019-3-22  12:12</i>-->
					<p>我是阳泉工会智能机器人，请问您有什么需要吗？</p>
				</div>

			</div>
			<div class="down"></div>
			<div class="shuru">
				<input type="text" placeholder="请输入文字..."  v-model="userinp" autocomplete="off"/>
			</div>
			<div class="send clearfix">
				<div class="send_left">
					<i class="icon iconfont icon-smiling" ></i>
				</div>
				<div class="send_right">
					<button type="button" @click="sendModel">发送</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(function () {

		/*微信矩阵 网站集群显示隐藏 复制*/
        $('#showmask1').mouseenter(function () {
            $('.showmask2').show();
            $('.top-arrow2').show();
            $('.top-arrow2ccc').show();
            $('.showmask1').hide();
            $('.top-arrow1').hide();
            $('.top-arrow1ccc').hide()
        });
        $('.showmask2').mouseleave(function () {
            $('.showmask2').hide();
            $('.top-arrow2').hide();
            $('.top-arrow2ccc').hide()
        });
        $('#showmask2').mouseenter(function () {
            $('.showmask1').show();
            $('.top-arrow1').show();
            $('.top-arrow1ccc').show();
            $('.showmask2').hide();
            $('.top-arrow2').hide();
            $('.top-arrow2ccc').hide()
        });
        $('.showmask1').mouseleave(function () {
            $('.showmask1').hide();
            $('.top-arrow1').hide();
            $('.top-arrow1ccc').hide()
        });

        $('.hideMask').mouseenter(function () {
            $('.xiala').hide();
            $('.content').hide()

        })



        tabtogg('.shi-jianjie','.my_ghcontentright','.shi-jianjie p','.shi-jianjie i')
        tabtogg('.shi-jigou','.my_jigou','.shi-jigou p','.shi-jigou i')
        tabtogg('.shi-lingdao','.my_lingdao','.shi-lingdao p','.shi-lingdao i');

        var r = window.location.search;
        r = r.substring(1);
        if(r==1){
        	$('.my_ghcontentright').addClass('on');
        	$('.shi-jianjie p').addClass('bordred');
        	$('.shi-jianjie i').css('color','#db2c28');
        }else if(r==2){
        	$('.my_lingdao').addClass('on');
        	$('.shi-lingdao p').addClass('bordred');
        	$('.shi-lingdao i').css('color','#db2c28');
        }else if(r==3){
        	$('.my_jigou').addClass('on');
        	$('.shi-jigou p').addClass('bordred');
        	$('.shi-jigou i').css('color','#db2c28');
        }else{
        	$('.my_ghcontentright').addClass('on');
        	$('.shi-jianjie p').addClass('bordred');
        	$('.shi-jianjie i').css('color','#db2c28');
        }
         


    })
</script>
<script src="js/vue2.5.22.js"></script>
<script src="js/axios.0.18.0.js"></script>
<script src="js/qs.6.60.js"></script>
<script src="js/usertoken.js"></script>
<script type="text/javascript"></script>
<script>
    var vm = new Vue({
        el: "#data-center",
        data: {
            mask1left:[],
            mask1right:[],
            isShow:false,
            isactive:false,
            userinp:'',
            userPhone:'',
            membercenter:'',
            nowTime:'',
            nowDay:'',
            Lingdaobox:[],
            jianjieBox:[],
            zhizeBox:[],
            jigou:[],
            userHeaderPic:'',
			serKwords:'',
			leftMove:0,
            clickIndex:0,
			inPosition:''


        },
        methods:{
            //遮罩层1左侧菜单列表
            getMask1LeftMenu(){
                const that = this;
                $.ajax({
                    url: baseUrl + "/api/category/list",
                    data:{
                        parentId:"290"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.mask1left = (result.data);
                    }
                })
            },
            sendSousuo(id,name){
                var that = this;
                that.serModel = name;
                that.sousuoID = id;
                console.log(that.serModel);
                console.log(that.sousuoID);


                that.serTypeWrap = false
			},
            //右侧
            getMask1LeftContent(){
                const that = this;
                $.ajax({
                    url: baseUrl + "/api/category/list",
                    data:{
                        parentId:"290"
                    },
                    async: false,
                    dataType:"json",
                    success:  function (result) {
                        that.mask1left = (result.data);
                        console.log(that.mask1left);
                    }
                })
            },
            rightContent(id){
                console.log(id);
                const that = this;
                $.ajax({
                    url:baseUrl + "/api/content/list",
                    data:{
                        "categoryId" : id,
                        "num" : "1",
                        "pageSize" : "10"
                    },
                    dataType:"json",
                    success:  function (result) {
                        that.mask1right = result.data.list;
                        console.log(that.mask1right)
                    }
                })
            },
            //跳转详情页
            sendId(id){
				console.log(id);
               window.location.href=('xw_xq.html' + '?'+id)
            },
			// 内设机构
			zongJianjie(){

                const that = this;
                that.inPosition = '内设机构';
				$.ajax({
                    url:baseUrl+"/system/tAlwaysDepartment/GetJSON",
                    data:{
                       
                    },
                    dataType:"json",
                    success:  function (result) {
                        console.log(result);
                        that.jigou=result.data;

                    }
                })
			},
			// 市总简介
			jiekou(){
                const that = this;
                that.inPosition = '市总简介';
				$.ajax({
                    url:baseUrl+ "/system/tAlwaysBrief/GetJSON",
                    data:{
                       "isBrief":0
                    },
                    dataType:"json",
                    success:  function (result) {
                        that.jianjieBox=result.data[0];
                    }
                })
                $.ajax({
                    url:baseUrl + "/system/tAlwaysBrief/GetJSON",
                    data:{
                       "isBrief":1
                    },
                    dataType:"json",
                    success:  function (result) {
                         that.zhizeBox=result.data;
                    }
                })
			},
			// 市总领导
			zongLingdao(){
				const that = this;
                that.inPosition = '市总领导';
				$.ajax({
                    url:baseUrl +"/system/tAlwaysLead/GetJSON",
                    data:{

                    },
                    dataType:"json",
                    success:  function (result) {
                        // console.log(result.data)
                        that.Lingdaobox=result.data;
                    }
                })
			},
            //跳转到搜索界面
            goToSer(path){
				const that=this;
				console.log(that.serKwords);
				window.open(path,'_self');
				localStorage.setItem("keywords",that.serKwords)
            },
            sendModel(){
                kfhuifu();
			},
            toggContent(id,index){
                $('.hideJigou').hide();
				$('#' + id).show();
                $(".jigou_tab").css({
                    'height': 650//获取子元素的高度
                });

				this.clickIndex = index


			}
        },
        mounted(){

            const that = this;
            that.getMask1LeftMenu();
            that.getMask1LeftContent();
            that.jiekou();
            $('.hideJigou').hide();
            $('#1').show();
            $(".jigou_tab").css({
                'height': 650//获取子元素的高度
            });

            that.nowTime = nowTimeDay;
            getDay();
            that.nowDay = nowDay;
            //默认显示id 199
            $.ajax({
                url:baseUrl + "/api/content/list",
                data:{
                    "categoryId" : "306",
                    "num" : "1",
                    "pageSize" : "10"
                },
                dataType:"json",
                success:  function (result) {
                    that.mask1right = result.data.list;
                    //console.log(that.mask1right)
                }
            });
           //实名制查询   显示用户头像 名字

              if(userTok.token != null){
                   $.ajax({
                        type: 'post',
                        url: unionUrl + "/passLaborweb/api/laborun/realnameRecord/queryRealnameRecord",
                        contentType: 'application/json',
                        data: JSON.stringify({
                        "token": userTok.token
                    }),
                    async: false,
                    success: function (result) {
                    console.log(result);

                    if (result.data.total == 1) {
                        //用户头像
                        that.userHeaderPic = result.data.content[0].portraitPic;
                        console.log('已经实名制')
                    } else if (result.data.total == 0) {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    } else {
                        that.userHeaderPic = 'images/user.png'; //默认头像
                        console.log('您还未实名制')
                    }


                     }

                   })
              }


        }



    })


</script>
<!--智能客服-->
<script src="js/znkf.js"></script>
</html>